<template>
  <div>
    <Edit
      v-bind:doc.sync="doc"
      :container="container"
      :editorType="editorType"
      :instance="instance"
      >

    </Edit>
  </div>
</template>

<script>
  // import Api from '../themelia/';
  import X from 'cash-dom';
  import Edit from '../../../../../AginterTextMachine/vpe/Editor';

  export default {
    components: {
      Edit,
      X
    },
    name: 'ProseMirrorEditor',
    props: {
      doc: {
        required: false,
        type: Object
      },
      instance: {
        required: false,
        type: String
      },
      editorType: {  // intro, full, blurb
        type: String,
        required: false,
        default: 'intro'
      },
      value: {
        required: false,
        type: String,
      },
      theme: {
        type: String,
        required: false,
      },
      readonly: {
        type: Boolean,
        default: false,
      },
      container: {
        type: String,
        required: false,
        default: 'editor_pm'
      },
      placeholder: {
        type: String,
        required: false,
      },
      minHeight: {
        required: false,
        type: String,
        default: '200px'
      },

    },
    data() {
      return {
        pm: null,
        nodeVal: this.value
      }
    },
    computed: {
      localNodeVal: {
        // getter
        get: function () {
          return this.nodeVal;
        },
        // setter
        set: function (newValue) {
          this.nodeVal = newValue;
        }
      }
    },
    watch: {  // so this gets called when the node changes form a parent component, e.g. tile change...
      instance: function (newVal, oldVal) {
        // this.instance = newVal;

      },
      doc: {
        handler: function (doc) {
          this.$emit('update:doc', doc);
        },
        deep: true
      },
      test: function (newDoc, oldDoc) {
        console.log("test var changed in ProseMirror.vue ");
      }
    },
    methods: {
      c(node) {
        // Bubble up...
        this.$emit('pmComponentTextChanged', node);
      },
      bubbleText(doc) {
        this.$emit('bubbleText', doc);
      }
    },
    created() {
      this.$emit('pmEditorCreated', this);
    },
    mounted() {

    }
  }
</script>
<style>

</style>
