<template>
  <section>
    <media-manager
      media-api="/api/media/tiles"
    >
    </media-manager>
  </section>
</template>
<script type="text/javascript">
  import MediaManager from "../../components/MediaManager.vue";

  export default {
    components: {MediaManager},
    data() {
      return {
        data: [],
      }
    },
    methods: {},
    filters: {},
    mounted() {
    }
  }
</script>
