<template>
  <div>
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title" v-if="data.organisation">
            {{data.organisation.name}}
          </h1>
          <h2 class="subtitle" v-if="data.organisation">
            {{countryName}}
          </h2>
        </div>
      </div>
    </section>
    <section>
      <b-notification v-if="u" title="Default" :active.sync="u.notificationActive" :type="u.notificationType">
        {{u.notificationMessage}}
      </b-notification>
    </section>
    <section class="section_editor">
      <form id="editForm" @submit.prevent="validateBeforeSubmit" method="post">
        <b-field label="Name"
            ref="name"
            :type="getType('name')"
            :message="getValidationMessage('name')"
          >
          <b-input
            v-model="data.organisation.name"
            v-if="data.organisation">
          </b-input>
        </b-field>

        <b-field label="Initials">
          <b-input
            v-model="data.organisation.initials"
            v-if="data.organisation">
          </b-input>
        </b-field>

        <b-field label="Profile">
          <b-input
            v-model="data.organisation.profile"
            v-if="data.organisation">
          </b-input>
        </b-field>

        <b-field label="Related Actors">
          <bue-tag
            v-if="data.organisation"
            ref="actors"
            v-bind:ag-model="actors"
            :rounded=true
            :type="profileColour()"
            ag-field="name"
            ag-end-point="people"
            ag-placeholder="Add related actors..."
          >
          </bue-tag>
        </b-field>

        <b-field label="Country"
            ref="country"
            :type="getType('country')"
            :message="getValidationMessage('country')"

          >
          <auto-complete
            v-if="data.organisation"
            ref="countryAutoComplete"
            v-bind:ag-model="countryName"
            ag-field="name"
            ag-placeholder="e.g. Maldives"
          >
          </auto-complete>
        </b-field>

        <b-field label="Tags">
          <bue-tag
            v-if="data.organisation"
            ref="bueTagger"
            v-bind:ag-model=data.organisation.tags
            ag-field="tag"
            ag-placeholder="Add a tag.."
          >
          </bue-tag>
        </b-field>

        <b-tabs v-model="activeTab">
          <b-tab-item label="Introduction">
            <b-field>
              <Prose
                v-if="data.organisation"
                ref="introductionPM"
                provider="prosemirror"
                :readonly=false
                :doc="data.organisation.introduction.node"
                @update:node="updateNode($event, 'this.data.organisation.introduction.node')"
                container="introduction_editor_pm"
              >
              </Prose>
              <!--

              -->
            </b-field>
          </b-tab-item>

          <b-tab-item label="Images" v-if="$route.meta.mode !== 'create'">
            <media-manager
              v-if="data.media"
              ref="mediaManager"
              show-header="false"
              show-drop-area="false"
              :media="data.media"
              v-on:media:refresh="refreshMedia($event)"
              asset-type="image"
              :mount-points="mountPoints"
              :link-to="linkTo"
            >
            </media-manager>
          </b-tab-item>

          <b-tab-item label="Sources" v-if="$route.meta.mode !== 'create'">
            Texts and bookmarks
          </b-tab-item>

          <b-tab-item label="Video" v-if="$route.meta.mode !== 'create'">
            Footage
          </b-tab-item>
          <b-tab-item label="Audio" v-if="$route.meta.mode !== 'create'">
            Adio
          </b-tab-item>

        </b-tabs>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" @click="save" type="submit">Submit</button>
          </div>
          <div class="control">
            <button class="button is-text">Cancel</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</template>

<script type="text/javascript">
  import Resource from '../Resource';
  import lodash from 'lodash';
  import Util from '../../helpers/util';
  import Api from '../../themelia/api';
  import Prose from '../../components/TextEditor/PM/PM';
  import MediaManager from "../../components/MediaManager.vue";
  import AutoComplete from '../../components/AutoComplete.vue';
  import BueTag from "../../components/BueTag.vue";

  export default {
    extends: Resource,
    components: {
      BueTag,
      AutoComplete,
      MediaManager,
      //   TextEditor,
      Prose,
      lodash,
      Api,
      Util
    },
    data() {
      return {
        data: [],
        doc: {},
        inputState: [],

        activeTab: this.$route.meta.mode === 'edit' ? 0 : 0,

        editor: null,
        u: null,
        respData: null,

        country: {},
        selectedCountry: null,
        isFetchingCountries: false,
        countries: [],

        currentActors: [],
        actors: [],

        countryName: '',
        mountPoints: ['organisations', this.$route.params.id],
        linkTo: ['organisations', this.$route.params.id],
        identity: 'organisations',

        aginter_api_token: 'yale'

      }
    },
    methods: {
      updateNode(value, ctrl) {
        this.data.organisation.introduction.newNode = value;
      },
      profileColour(ev) {
        return "is-danger"
      },
      save() {
        this.loading = true;

        let dt = {};

        if (null !== this.$refs.countryAutoComplete.selectedValue) {
          this.data.organisation.country = this.$refs.countryAutoComplete.selectedValue._key;
        }

        let bt = this.$refs.bueTagger;

        this.data.organisation.tags = bt.localModel;

        this.data.organisation.introduction.node = this.data.organisation.introduction.newNode;

        dt = this.data.organisation;

        console.log("I shall be posting the following: ");
        console.log(dt);


        if (this.$route.meta.mode === 'edit') {
          console.log(this.actors);

          Api.patch(
            `/api/organisations/${this.$route.params.id}`, dt)
            // `/api/organisations/${this.$route.params.id}`, dt)
            .then(response => {
              // JSON responses are automatically parsed.
              this.loading = false;

              if (response.status != 200 && response.status != 202) {
                this.updateFormStatus(response.data);
                Util.notifikation("Couldn't update this resource", 'danger', 2000);
              } else {
                this.addEdges(response.data);
                Util.notifikation("The resource has been updated successfully", 'success', 2000);
              }
            })
            .catch(e => {
              //  this.errors.push(e)
              console.log(e);
            });

        } else {
          Api.post(
            `/api/organisations/`, dt)
            .then(response => {
              // JSON responses are automatically parsed.
              this.loading = false;

              this.respData = response.data;
              this.updateFormStatus(response.data);

              if (response.status != 200 && response.status != 202) {
                Util.notifikation("Couldn't add this resource", 'danger', 2000);
              } else {
                this.addEdges(response.data);
                Util.notifikation("The resource has been added successfully", 'success', 2000);
                this.$router.push({path: `/manage/organisations/${response.data._key}/edit`}) // -> /organisations/123

              }


            })
            .catch(e => {
              //  this.errors.push(e)
              console.log(e);
            });


          // if (null!==respData) {
          console.log("We've got this respData: ");
          console.log(this.respData);
          ///
        }
      },
      addEdges(dt) {
        for (let i = 0; i < this.currentActors.length; i++) {
          if (_.findIndex(this.actors, {'_key': this.currentActors[i]._key}) < 0) {

            console.log("I will DELETE: ");
            let url = '/api/' + this.currentActors[i]._id;

            Api.delete(url).then(
              response => {
              })
              .catch(e => {
                console.log("Edge deletion ERROR (orgs)");
              });
          }
        }

        let edge = [];

        for (let i = 0; i < this.actors.length; i++) {
          if (_.findIndex(this.currentActors, {'_key': this.actors[i]._key}) < 0) {
            console.log("I will ADD: ");
            edge[i] = {};

            edge[i]._collection = 'organisations_people';

            edge[i]._from = dt._id;
            edge[i]._to = 'people/' + this.actors[i]._key;

            Api.post('/api/edges', edge[i]).then(
              response => {
                console.log("Edge added: ");
                console.log(response.data);
              })
              .catch(e => {

              });
          }
        }

      },
      loadAsyncData() {
        this.loading = true;

        Api.get(`/api/organisations/edit/${this.$route.params.id}`)
          .then(response => {
            // JSON responses are automatically parsed.

            this.data = response.data;

            console.log("BABINIOTS");
            console.log(response);

            this.data.organisation.introduction.newNode = this.data.organisation.introduction.node;

            console.log(this.data);

            this.countryName = this.data.country.name;

            for (let i = 0; i < this.data.relations.actors.length; i++) {
              let datum = this.data.relations.actors[i];
              let key = datum._to.substr(datum._to.indexOf('/') + 1);

              this.actors[i] = {
                _key: key, name: datum.name, profile: datum.profile,
                relationship: datum.relationship, _id: datum._id
              }

            }
            // pay attention to this line:
            this.currentActors = _.cloneDeep(this.actors);

            this.loading = false;
          });

      }
    },
    filters: {},
    watch: {
      doc: {
        handler(val) {
          console.log('COMSOMOL YEAH YEAH');
          // do stuff
        },
        deep: true
      },
      data: function (oldVal, newVal) {
        console.log('more pain...');
      }
    },
    created() {
      this.editor = this.$refs.introduction;
      this.aginter_api_token = Api.get_token();
    },
    mounted() {
      this.u = Util;
      this.loadAsyncData();
      console.log('Patata');
      console.log(this.aginter_api_token);

    }
  }
</script>
