<template>
  <div class="container">
  </div>
</template>

<script>
  export default {
    name: "test",
    mounted() {
      console.log('Component mounted.')
    },
    data() {
      return {
      }
    }
  }
</script>

<style scoped>

</style>
