<template>
  <div>
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{data.name}}
          </h1>
          <h2 class="subtitle">
            {{data.alpha2}}
          </h2>
        </div>
      </div>
    </section>
    <section>
      <b-notification v-if="u" title="Default" :active.sync="u.notificationActive" :type="u.notificationType">
        {{u.notificationMessage}}
      </b-notification>
    </section>
    <section class="section_editor">
      <form id="editForm" @submit.prevent="validateBeforeSubmit" method="post">
        <b-field label="Country"
                 ref="name"
                 :type="getType('name')"
                 :message="getValidationMessage('name')"
        >
          <b-input v-model="data.name"></b-input>
        </b-field>

        <b-field label="Region">
          <b-input v-model="data.region"></b-input>
        </b-field>

        <b-field label="Country code"
                 ref="countryCode"
                 :type="getType('countryCode')"
                 :message="getValidationMessage('countryCode')"
        >
          <b-input v-model="data.regionCode"></b-input>
        </b-field>

        <b-field label="Region code">
          <b-input v-model="data.regionCode"></b-input>
        </b-field>

        <b-field label="Subregion">
          <b-input v-model="data.subRegion"></b-input>
        </b-field>

        <b-field label="Subregion code">
          <b-input v-model="data.subRegionCode"></b-input>
        </b-field>

        <b-field label="alpha2"
                 ref="alpha2"
                 :type="getType('alpha2')"
                 :message="getValidationMessage('alpha2')"
        >
          <b-input v-model="data.alpha2"></b-input>
        </b-field>

        <b-field label="alpha3"
                 ref="alpha3"
                 :type="getType('alpha3')"
                 :message="getValidationMessage('alpha3')"
        >
          <b-input v-model="data.alpha3"></b-input>
        </b-field>


        <b-field label="ISO 3166-2">
          <b-input v-model="data.iso_3166_2"></b-input>
        </b-field>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" @click="save" type="submit">Submit</button>
          </div>
          <div class="control">
            <button class="button is-text">Cancel</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</template>

<script type="text/javascript">
  import Util from '../../helpers/util';
  import Api from '../../themelia/api';

  export default {
    components: {},
    data() {
      return {
        data: [],
        inputState: [],

        editor: null,
        u: null,
        showEditor: false,
        tags: [],
        tag: "",
        identity: 'countries'
      }
    },
    methods: {
      logTags(tags) {
        console.log(tags)
      },
      validateBeforeSubmit(e) {
        e.preventDefault();
      },
      save() {
        this.loading = true;

        let dt = {};

        dt = this.data;

        if (this.showEditor) {
          this.data.introduction = this.editor.getData();
        }

        if (this.$route.meta.mode === 'edit') {
          Api.patch(
            `/api/countries/${this.$route.params.id}`, dt)
            .then(response => {
              // JSON responses are automatically parsed.
              this.loading = false;
              if (response.status != 200 && response.status != 202) {
                this.updateFormStatus(response.data);
                Util.notifikation("Couldn't update this resource", 'danger', 2000);
              } else {
                Util.notifikation("The resource has been updated successfully", 'success', 2000);
              }
            })
            .catch(e => {
              //  this.errors.push(e)
              console.log(e);
            });
        } else {
          Api.post(
            `/api/countries/`, dt)
            .then(response => {
              // JSON responses are automatically parsed.
              this.loading = false;

              this.updateFormStatus(response.data);

              if (response.status != 200 && response.status != 202) {
                Util.notifikation("Couldn't add this resource", 'danger', 2000);
              } else {
                Util.notifikation("The resource has been added successfully", 'success', 2000);
              }


            })
            .catch(e => {
              //  this.errors.push(e)
              console.log(e);
            });
        }

      },
      loadAsyncData() {
        this.loading = true;

        Api.get(`/api/countries/${this.$route.params.id}`)
          .then(response => {
            // JSON responses are automatically parsed.

            this.data = response.data;
            console.log(this.data);

            if (this.showEditor) {
              //    this.editor.setData(this.data.introduction || '<p>Start here</p>');
            }

            this.loading = false;
          });
      },

      getType(fld) {
        if (this.inputState.hasOwnProperty(fld)) {
          if (this.inputState[fld].hasOwnProperty('error')) {
            return "is-danger";
          }
        }
        return "";
      },
      getValidationMessage(fld) {
        if (this.inputState.hasOwnProperty(fld)) {
          if (this.inputState[fld].hasOwnProperty('error')) {
            return this.inputState[fld].error;
          }
        }
        return "";
      },
      updateFormStatus(data) {
        console.log(data);

        for (let field in this.$refs) {
          // this.$refs[field].type = 'is-danger';
          if (data.hasOwnProperty('errors') && data.errors.hasOwnProperty(field)) {
            this.inputState[field] = {error: data.errors[field]}
          } else {
            this.inputState[field] = {}
          }
        }

      }

    },
    filters: {},
    mounted() {
      this.loadAsyncData();
      this.u = Util;
    }
  }
</script>
