<template>
  <div id="app">

    <quill-editor ref="myTextEditor"
      v-model="content"
      :options="editorOptions">
    </quill-editor>
  </div>
</template>

<script>
  import {quillEditor} from 'vue-quill-editor';

  export default {
    data () {
      return {
        name: 'app',
        content: 'The Moro conflict[32] is an insurgency in the Mindanao region of the Philippines.\n' +
        '\n' +
        '\n' +
        '\n' +
        'Due to marginalisation produced by continuous Resettlement Policy sustained at start of Mindanao and Sulu inclusion to the Philippine Commonwealth territory of 1935, by 1969, political tensions and open hostilities developed between the Government of the Philippines and Moro Muslim rebel groups.[33] The developing Moro Insurgency was ultimately triggered by the Jabidah massacre, which saw the killing of 60 Filipino Muslimcommandos on a planned operation to reclaim the eastern part of the Malaysian state of Sabah. In response, the University of the Philippines professor Nur Misuari established the Moro National Liberation Front (MNLF), an armed insurgent group that was committed to establishing an independent entity composed of Mindanao, Sulu, and Palawan. Over the successive years, the MNLF has splintered into several different groups including the Moro Islamic Liberation Front (MILF), which wanted to establish an Islamic state within the Philippines. The Moro Insurgency is rooted in a long history of resistance by the Bangsamoro people against foreign rule, dating back to the American annexation of the Philippines in 1898 even as they are not part of Spain\'s Act of War. Since then, Moro resistance has persisted against the Philippine government.\n' +
        '\n' +
        'Casualty statistics vary for the conflict; however, the conservative estimates of the Uppsala Conflict Data Program indicate that at least 6,015 people were killed in armed conflict between the Government of Philippines and ASG, \n' +
        '\n' +
        '\n' +
        '\n' +
        'BIFM, MILF, and MNLF factions between 1989 and 2012.[34]',
        editorOptions: {
          placeholder: 'Compose an epic...',
          readOnly: true,
          theme: 'snow',
          modules: {
            toolbar: [
              ['bold', 'italic', 'underline', 'strike'],
              ['blockquote', 'code-block'],
              [{ 'list': 'ordered' }, { 'list': 'bullet' }],
              [{ 'indent': '-1' }, { 'indent': '+1' }],
              [{ 'size': ['small', 'large', 'huge'] }],
              [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
              [{ 'font': [] }],
              [{ 'align': [] }]


            ]
          }
        }
      }
    },
    components: {
      quillEditor
    }
  }

</script>
