<template>
  <div>
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="subtitle" v-if="data.source">
            {{data.source.authors|disArray}}
          </h1>
          <h2 class="title" v-if="data.source">
            {{data.source.title}}
          </h2>
        </div>
      </div>
    </section>
    <section>
      <b-notification v-if="u" title="Default" :active.sync="u.notificationActive" :type="u.notificationType">
        {{u.notificationMessage}}
      </b-notification>
    </section>
    <section class="section_editor">
      <b-field
        label="Authors"
        ref="authors"
        :type="getType('authors')"
        :message="getValidationMessage('authors')"
        >
        <b-input v-model="data.source.authors" v-if="data.source"></b-input>
      </b-field>

      <b-field
        label="Compact authors ref (e.g. JONG)"
        ref="compactAuthors"
        :type="getType('compactAuthors')"
        :message="getValidationMessage('compactAuthors')"
        >
        <b-input v-model="data.source.compactAuthors" v-if="data.source"></b-input>
      </b-field>

      <b-field
        label="Title"
        ref="title"
        :type="getType('title')"
        :message="getValidationMessage('title')"
      >
        <b-input v-model="data.source.title" v-if="data.source"></b-input>
      </b-field>

      <b-field
        label="Location"
        ref="location"
        :type="getType('location')"
        :message="getValidationMessage('location')"
      >
        <b-input v-model="data.source.location" v-if="data.source"></b-input>
      </b-field>

      <b-field
        label="Publisher"
        ref="publisher"
        :type="getType('publisher')"
        :message="getValidationMessage('publisher')"
      >
        <b-input v-model="data.source.publisher" v-if="data.source"></b-input>
      </b-field>

      <b-field
        label="Year"
        ref="year"
        :type="getType('year')"
        :message="getValidationMessage('year')"
        >
        <b-input v-model="data.source.year" v-if="data.source"></b-input>
      </b-field>

      <b-field>
        :type="getType('librarianDetails')"
        :message="getValidationMessage('librarianDetails')"
        >
        <b-input type="textarea" maxlength="20000" v-model="data.source.librarianDetails" v-if="data.source"></b-input>
      </b-field>

      <b-field
        label="Pages"
        ref="pages"
        :type="getType('pages')"
        :message="getValidationMessage('pages')"
        >
        <b-input v-model="data.source.pages" v-if="data.source"></b-input>
      </b-field>


      <b-field
        label="Country"
        ref="country"
        :type="getType('country')"
        :message="getValidationMessage('country')"
      >
        <auto-complete
          v-if="data.source"
          ref="countryAutoComplete"
          v-bind:ag-model="countryName"
          ag-field="name"
          ag-placeholder="e.g. Maldives"
        >
        </auto-complete>
      </b-field>


      <b-tabs v-model="activeTab">
        <b-tab-item label="Introduction">

          <b-field>
            <text-editor
              v-if="data.source"
              ref="notesPM"
              provider="prosemirror"
              :readonly=false
              v-bind:doc.sync="data.source.notes.node"
              container="notes_editor_pm"
              placeholder="Notes..."
              theme="snow"
            >
            </text-editor>

          </b-field>
        </b-tab-item>

        <b-tab-item label="Images" v-if="$route.meta.mode !== 'create'">
          <media-manager
            v-if="data.media"
            ref="mediaManager"
            show-header="false"
            show-drop-area="false"
            :media="data.media"
            :mount-points="mountPoints"
            :link-to="linkTo"
            asset-type="image"
            v-on:media:refresh="refreshMedia($event)"
          >
          </media-manager>
        </b-tab-item>

      </b-tabs>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" @click="save" type="submit">Submit</button>
        </div>
        <div class="control">
          <button class="button is-text">Cancel</button>
        </div>
      </div>
      <!--/form-->
    </section>
  </div>
</template>

<script type="text/javascript">
  import Resource from '../Resource';
  import lodash from 'lodash';
  import Util from '../../helpers/util';
  import Api from '../../themelia/api';

  import MediaManager from "../../components/MediaManager.vue";
  // import TextEditor from '../../components/TextEditor.vue';
  import Daddy from '../../components/Daddy.vue';

  import AutoComplete from '../../components/AutoComplete.vue';
  import BueTag from "../../components/BueTag.vue";

  export default {
    extends: Resource,
    components: {
  //    TextEditor,
      Daddy,
      BueTag,
      AutoComplete,
      MediaManager,
      lodash,
      Api,
      Util
    },
    data() {
      return {
        data: [],
        doc: {},
        inputState: [],
        activeTab: 0,
        u: null,
        country: {},
        isFetchingCountries: false,
        countries: [],
        countryName: '',
        mountPoints: ['sources', this.$route.params.id],
        linkTo: ['sources', this.$route.params.id],
        identity: 'sources'
      }
    },
    methods: {
      save() {
        this.loading = true;

        let dt = {};

        if (null !== this.$refs.countryAutoComplete.selectedValue) {
          this.data.source.country = this.$refs.countryAutoComplete.selectedValue._key;
        }
        dt = this.data.source;



        /*
        let bt = this.$refs.bueTagger;

        this.data.person.tags = bt.localModel;

        */
        console.log("Data to persist: ");
        console.log(dt);


        if (this.$route.meta.mode === 'edit') {
          Api.patch(
            `/api/sources/${this.$route.params.id}`, dt)
            .then(response => {
              // JSON responses are automatically parsed.
              this.loading = false;
              if (response.status != 200 && response.status != 202) {
                this.updateFormStatus(response.data);
                Util.notifikation("Couldn't update this resource", 'danger', 2000);
              } else {
                Util.notifikation("The resource has been updated successfully", 'success', 2000);
              }
            })
            .catch(e => {
              //  this.errors.push(e)
              console.log(e);
            });
        } else {
          Api.post(
            `/api/sources/`, dt)
            .then(response => {
              // JSON responses are automatically parsed.
              this.loading = false;

              this.updateFormStatus(response.data);

              if (response.status != 200 && response.status != 202) {
                Util.notifikation("Couldn't add this resource", 'danger', 2000);
              } else {
                console.log(response);
                this.$router.push({path: `/manage/sources/${response.data._key}/edit`}) // -> /user/123

                Util.notifikation("The resource has been added successfully", 'success', 2000);
              }

            })
            .catch(e => {
              //  this.errors.push(e)
              this.loading = false;

              console.log(e);
            });
        }

      },
      loadAsyncData() {
        this.loading = true;

        Api.get(`/api/sources/edit/${this.$route.params.id}`)
          .then(response => {
            this.data = response.data;

            this.countryName = this.data.country.name;
            this.loading = false;

          });
      }

    },
    watch: {
      'data.source.notes.node': function (newVal) {
        //
      }
    },
    filters: {
      disArray(value) {
        if (value.constructor === Array ) {
          return value.join(", ");
        }
      }

    },
    created() {
      console.log('Source/Edit created...');
    },
    mounted() {
      console.log('Source/Edit mounted...');

      this.u = Util;
      this.loadAsyncData();
    }
  }


</script>
<style>
  .mediaMeta {
    position: absolute;
    display: inline-block;
  }

  .mediaMeta label {
    font-size: 0.8em;
    display: block;
  }

  .vue-dropzone .dz-preview .dz-details {
    bottom: 0;
    top: 0;
    color: white;
    background-color: rgba(71, 76, 78, 0.8) !important;
    transition: opacity .2s linear;
    text-align: left;
  }

  .dropzone .dz-preview:hover {
    z-index: unset !important;
  }

  .dropzone .dz-preview:hover .dz-details {
    opacity: 0 !important;
  }

  .dz-image {
    /* background-color: #f6f6f6 !important; */
    background-color: #ffffff !important;
  }

  .dropzone .dz-preview .dz-file-preview:hover {
    z-index: 1000 !important;
  }

  .dropzone .dz-preview .dz-file-preview:hover .dz-details {
    opacity: 1 !important;
  }

  .dropzone .dz-preview .dz-file-preview:hover .dz-details {
    opacity: 1;
  }

  .vue-dropzone:hover img {
    background-color: #F6F6F6 !important;
  }


</style>
