<template>
  <section>
      <d-t-head
        v-bind:per-page-model="perPage"
        v-on:pagesizechanged="pageSizeChanged"

        v-bind:local-q-model="q"
        v-on:termsAdded="queryWrapper"
        collection="sources"
      >
      </d-t-head>
      <b-table
        :data="data"
        :loading="loading"
        :striped=true
        :hoverable=true

        paginated
        backend-sorting
        backend-pagination
        :default-sort-direction="defaultSortOrder"
        :default-sort="[sortField, sortOrder]"
        :total="total"
        :per-page="perPage"
        @page-change="onPageChange"
        @sort="onSort"
      >

      <template slot-scope="props">
        <b-table-column field="authors" label="Author" sortable>
          {{ props.row.compactAuthors}}
        </b-table-column>

        <b-table-column field="authors" label="Authors" sortable>
          {{ props.row.authors | disArray }}
        </b-table-column>

        <b-table-column field="title" label="Title" sortable>
          {{ props.row.title | truncate(70) }}
        </b-table-column>

        <b-table-column field="country" label="Country" sortable centered>
          {{ props.row.country }}
        </b-table-column>

        <b-table-column label="Action" centered>
          <router-link class="recipe__inner" :to="`/manage/sources/${props.row._key}/edit`">
            <button class="button is-link is-small">Edit</button>
          </router-link>
          <button class="button is-danger is-small" @click="(event) => { remove(event, props.row._key) }">
            Delete
          </button>
        </b-table-column>

      </template>

      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p>
              <b-icon
                icon="emoticon-sad"
                size="is-large">
              </b-icon>
            </p>
            <p>Nothing here.</p>
          </div>
        </section>
      </template>
    </b-table>

    <b-collapse :open="false">
      <button class="button is-primary" slot="trigger">See query</button>
      <div class="notification">
        <div class="content">
          <h3>
            AQL
          </h3>
          <pre class="p re-0-41 para-0-23" v-if="x">
            <code class="code-0-40 lang-default">
              {{x.totalCount}} | {{x.aql}}
            </code>
          </pre>
        </div>
      </div>
    </b-collapse>

  </section>

</template>
<script type="text/javascript">
  // import Grid from '../Grid';
  import Util from '../../helpers/util';
  import Api from '../../themelia/api';
  import DTHead from "../../components/DataTable/DTHead.vue";

  export default {
    components: {
      DTHead
    },
    data() {
      return {
        data: [],
        loading: false,
        sortField: 'compactAuthors',
        sortOrder: 'asc',
        defaultSortOrder: 'asc',
        page: 1,
        perPage: 30,
        q: ''

        // data: [],
        // count: 0,
        // totalCount: 0,
        // total: 0,
        // fields: '',
        // loading: false,
        // sortField: 'name',
        // sortOrder: 'asc',
        // defaultSortOrder: 'asc',
        // page: 1,
        // perPage: 30,
        // q: ''

      }
    },
    methods: {
      /*
       * Load async data
       */
      loadAsyncData() {
        this.loading = true;

        let earl = `/api/sources?q=${this.q}&sort_by=${this.sortField}.${this.sortOrder}&page=${this.page}&limit=${this.perPage}`;

        console.log('Earling: ');
        console.log(earl);

        Api.get(earl)
          .then(response => {
            // JSON responses are automatically parsed.
            this.x = response.data;

            this.data = [];

            this.x.data.forEach((item) => this.data.push(item));
            console.log(this.x);

            this.total = this.x.count;
            let currentTotal = this.x.count;

            if (currentTotal / this.perPage > 1000) {
              currentTotal = this.perPage * 1000;
            }
            this.total = currentTotal;

            this.loading = false;
          })
          .catch(e => {
            //  this.errors.push(e)
            console.log(e);
          });
      },
      /*
       * Handle page-change event
       */
      onPageChange(page) {
        this.page = page;
        this.loadAsyncData()
      },
      pageSizeChanged(sz) {
        console.log('Sources/index: pageSize change...');
        this.perPage = sz;
        console.log(sz);
      },
      queryWrapper(q) {
        this.q = q;
        this.query();
      },

      /*
       * Handle sort event
       */
      onSort(field, order) {
        this.sortField = field;
        this.sortOrder = order;

        this.loadAsyncData();
      },
      query() {
        this.loadAsyncData();
      },
      /*
       * Type style in relation to the value
       */
      type(value) {
        const number = parseFloat(value)
        if (number < 6) {
          return 'is-danger';
        } else if (number >= 6 && number < 8) {
          return 'is-warning';
        } else if (number >= 8) {
          return 'is-success';
        }
      },
      remove(e, id) {
        this.loading = true;

        Api.delete(`/api/sources/${id}`)
          .then(response => {
            // JSON responses are automatically parsed.
            Util.notifikation("You have successfully deleted the resource", 'success', 2000);

            this.loadAsyncData();
          })
          .catch(e => {
            //  this.errors.push(e)
            console.log(e);
          });
        this.loading = false;

      }
    },
    filters: {
      /**
       * Filter to truncate string, accepts a length parameter
       */
      truncate(value, length) {
        return value.length > length
          ? value.substr(0, length) + '...'
          : value;
      },
      disArray(value) {
        return value.join(", ");
      }
    },
    mounted() {
      this.loadAsyncData();
      this.perPage = 15;
    }
  }
</script>
<style type="text/css">

</style>
