<template>
  <div>
    <b-autocomplete
      v-model="localModel"
      :data="haystack"
      :placeholder="agPlaceholder"
      :field="agField"
      icon="magnify"
      @keyup.native="autoCompleteKeyUp($event, $event.target.value)"
      @select="option => selectedValue = option">
    </b-autocomplete>

  </div>
</template>

<script>
  import Api from '../themelia/api';

  export default {
    name: "auto-complete",
    data() {
      return {
        selectedValue: null,
        haystack: [],
        localModelVar: ''
      }
    },
    props: {
      agRef: {
        type: String,
        required: false,
        default: 'AGAutoCompoete'
      },
      agModel: {
        type: String,
        required: true
      },
      agField: {
        type: String,
        required: true
      },
      agPlaceholder: {
        required: false,
        default: "Type something..."
      }
    },
    computed: {
      localModel: {
        // getter
        get: function () {
          return this.agModel;
        },
        // setter
        set: function (newValue) {
          /// this.agModel = newValue;
          this.localModelVar = newValue;
        }
      }
    },
    methods: {
      autoCompleteKeyUp(event, term) {
        let url = `/api/countries?fields=_id,_key,name&q=${term}`;
        Api.get(url)
          .then(response => {
            // JSON responses are automatically parsed.
            let d = response.data.data;
            this.haystack = d;
          })
          .catch(e => {
            //  this.errors.push(e)
            console.log(e);
          });

      },
    },
    mounted() {

    }
  }
</script>

<style scoped>

</style>
