<template>
  <div>
    <b-taginput
      id="autoComplex"
      :placeholder="agPlaceholder"
      icon="label"
      ref="tagInput"
      v-model="localModel"
      :data="haystack"
      :field="agField"
      :type="type"
      :size="size"
      :rounded="rounded"
      autocomplete
      @keydown.native="myKeydown($event)"
      @typing="getFilteredTags"
    >
    </b-taginput>

  </div>
</template>

<script>
  // import BTaginput from "buefy/src/components/taginput/Taginput";

  import BTaginput from "../components/BueTagInput.vue"
  import Api from '../themelia/api';

  export default {
    components: {BTaginput},
    name: 'bue-tag',
    props: {
      type: {
        type: String,
        required: false,
      },
      size: {
        type: String,
        required: false,
      },
      rounded: {
        type: Boolean,
        required: false,
      },
      agPlaceholder: {
        required: false,
        default: "Type something..."
      },
      agModel: {
        type: Array,
        required: false
      },
      agField: {
        type: String,
        required: true,
      },
      agEndPoint: {
        type: String,
        required: false,
        default: "tags"
      }
    },
    data() {
      return {
        selectedValue: null,
        haystack: [],
        localModelVar: [],
        tagInput: null
      }
    },
    computed: {
      localModel: {
        // getter
        get: function () {
          return this.agModel == null ? [] : this.agModel;
        },
        // setter
        set: function (newValue) {
          /// this.agModel = newValue;
          this.localModelVar = newValue;
        }
      }

    },
    watch: {},
    methods: {
      myKeydown(event) {
        if (event.keyCode === 13 || event.keyCode === 188) {
          let newTag = event.target.value;

          if (newTag !== '' && this.agEndPoint === 'tags') {
            event.preventDefault();

            let dt = {"tag": newTag, "class": null, parent: null};
            // add tag to collection
            Api.post(`/api/tags/`, dt)
              .then(response => {
                let d = response.data;
                this.localModel.push({"_key": d._key, "tag": newTag});

                // what a nightmare. four hours  to find the writeable path to this value
                this.$refs.tagInput.$data.newTag = '';

              })
              .catch(e => {
                console.log(e);
              });

          }
        }

      },

      getFilteredTags(term) {
        let url = `/api/${this.agEndPoint}?q=${term}&fields=_key,${this.agField}`;

        console.log(url);

        Api.get(url)
          .then(response => {
            // JSON responses are automatically parsed.
            let d = response.data.data;

            this.haystack = _.differenceWith(d, this.localModel, _.isEqual);

          })
          .catch(e => {
          ///  console.log(e);
          });

      },
    },
    created() {

    },
    mounted() {
      this.tagInput = this.$refs.tagInput;

    }
  }
</script>
<style lang="scss">

</style>
