<template>

    <div>
      <p>
      Welcome to the world of two way pako
      </p>
      <label for="pako"></label>
      <input  class="pako"  id="pako"  type="text"
        v-model="inputVal"
      />

    </div>

</template>

<script>
  export default {
    name: 'Daddy',

    props: {
      value: {
        type: String,
        required: true
      },
      theme: {
        type: String,
        required: false,
      },
      readonly: {
        type: Boolean,
        required: false,
        default: false,
      },
    },
    data() {
      return {
        inputVal: this.value
      }
    },
    watch: {
      inputVal(val) {
        this.$emit('input', val);
      }
    },
    computed: {
    },
    methods: {
    },
    created() {

    },
    mounted() {
    }
  }
</script>
<style lang="css">
  .pako {
    width: 400px;
    height: 29px;

  }
</style>
