<template>
  <div>
    <section
      v-if="showHeader=='true'"
      class="hero is-light"
    >
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            MediaManager
          </h1>
          <h2 class="subtitle">
            Off we go
          </h2>
        </div>
      </div>
    </section>

    <drop-zone
      v-if="showDropArea == 'true'"
    >
    </drop-zone>

    <detailed-view
      ref="detailed"
      v-bind:featured="featured"
      v-bind:instance="instanceId"
      v-on:tiles:refresh="refresh"
      v-on:setEditor="setEditor"
    >
    </detailed-view>

    <tiler
      v-bind:media="media"
      v-on:tilechanged="tileChanged"
    >
    </tiler>

  </div>
</template>

<script>
  import DropZone from "./MediaManager/DropZone.vue";
  import DetailedView from "./MediaManager/DetailedView.vue";
  import Tiler from "./MediaManager/Tiler.vue";
  import Api from '../themelia/api';
  import X from 'cash-dom';

  export default {
    components: {
      DetailedView,
      Tiler,
      DropZone,
      X
    },
    name: "media-manager",
    props: {
      showHeader: {
        required: false,
        default: 'true'
      },
      showDropArea: {
        required: false,
        default: 'true'
      },
      media: {
        type: Object,
        required: false,
        default: function () {
          return {}
        }
      },
      mediaApi: {
        type: String,
        required: false,
        default: ''
      },
      assetType: {
        type: String,
        required: false,
        default: 'image'
      },
      mountPoints: {
        type: Array,
        required: false,
        default: function () {
          return []
        }
      },
      linkTo: {
        type: Array,
        required: false,
        default: function () {
          return []
        }
      }

    },
    data() {
      return {
        localMedia: this.media,
        featured: null,
        instanceId: 'aginter_78',
        editor: null
      }
    },
    computed: {},
    watch: {
      featured: {
        handler: function (val, oldVal) {
        },
        deep: false
      },
      instanceId: {
        handler: function (val, oldVal) {

        }
      }
    },

    methods: {
      /*
       * Load async data
       */
      loadAsyncData() {
        Api.get(this.mediaApi)
          .then(response => {
            // JSON responses are automatically parsed.
            let x = response.data;

            this.localMedia = x.media;

            if (this.localMedia.hasOwnProperty('images') && this.localMedia.images.length > 0) {
              this.featured = this.localMedia.images[0];

            }

          })
          .catch(e => {
            console.log(e);
          });
      },
      setEditor(ed) {
        this.editor = ed;
      },
      loadMedia() {
        if (this.mediaApi !== '') {
          this.loadAsyncData();
        } else {
          this.localMedia = this.media;

          if (this.localMedia.hasOwnProperty('images') && this.localMedia.images.length > 0) {
            this.featured = this.localMedia.images[0];
          }
        }

      },
      tileChanged(tile) {
        console.log("tileChanged", tile);

        let detailed = this.$refs.detailed;
        this.featured = tile;

        // editor.doc = tile.description.node;
        // detailed.updateNode(tile.description.node);

        this.instanceId = 'inst_'+this.featured._key;
      },
      refresh(event) {
        console.log('MediaManager: refresh');
        this.$emit('media:refresh', event);
      }

    },
    created() {
      this.loadMedia();
    },
    mounted() {
      let options = {
        ctrl: this
      }

      let zone = new FileDrop('fileZone', options);
      zone.event('send', function (files) {
        //// let mnts = this.mountPoints.join(',');

        let ctrl = this.opt.ctrl;

        files.each(function (file) {
          file.event('done', function (xhr) {
            ctrl.refresh({action: 'added', data: xhr});
          });

          let mnt = ctrl.$options.propsData.mountPoints.join(',');
          let lnk = ctrl.$options.propsData.linkTo.join(',');
          let ast = ctrl.$options.propsData.assetType;

          let uri = '/api/media/filedrop?mount_points=' + mnt + '&link_to=' + lnk + '&asset_type=' + ast;

          uri = uri + '&token='+Api.token;
          // Change the receiving URL:
          file.sendTo(uri);

        })

      });

      // hm hm
      if (this.featured!=null) {
        this.tileChanged(this.featured);
      }
    }

  }
</script>

<style scoped>

</style>
