<template>
  <div>
    <quill-editor
      v-if="provider=='quill'"
      :readonly="readonly"
      :container="container"
      :placeholder="placeholder"
      :theme="theme"
      v-model="inputVal"
      :toolbarOptions="toolbarOptions"
      v-on:quillComponentTextChanged="quillComponentTextChanged"
    >
    </quill-editor>
    <!--prose-mirror-editor
      v-if="provider=='prosemirror'"
      :readonly="readonly"
      :container="container"
      :editorType="editorType"
      :placeholder="placeholder"
      :theme="theme"

      v-bind:doc.sync="doc"
      :toolbarOptions="toolbarOptions"

      :instance="instance"
    >
    </prose-mirror-editor-->

  </div>

</template>

<script>
  import QuillEditor from '../components/TextEditor/QuillEditor/QuillEditor';
  // import ProseMirrorEditor from '../components/TextEditor/ProseMirrorEditor/ProseMirroEditor';

  export default {
    components: {ProseMirrorEditor, QuillEditor},
    name: 'TextEditor',
    props: {
      value: {
        required: false,
        default: '',
        type: String,
      },
      editorType: {  // intro, full, blurb
        type: String,
        required: false,
        default: 'intro'
      },
      instance: {
        type: String,
        required: false
      },
      doc: {
        required: false,
        default: function () { return {} },
        type: Object,
      },
      provider: {
        type: String,
        required: true,
        default: 'quill'
      },
      theme: {
        type: String,
        required: false,
      },
      readonly: {
        type: Boolean,
        required: false,
        default: false,
      },
      container: {
        type: String,
        required: false,
        default: 'editor'

      },
      placeholder: {
        type: String,
        required: false,
        default: 'Add text..'
      },
      toolbarOptions: {
        type: Object,
        required: false
      }
    },
    data() {
      return {
        inputVal: this.value,
        nodeVal: this.node
      }
    },
    computed: {
      localnputVal: {
        // getter
        get: function () {
          return this.inputVal;
        },
        // setter
        set: function (newValue) {
          this.inputVal = newValue;
        }
      },
      localNodeVal: {
        // getter
        get: function () {
          return this.nodeVal;
        },
        // setter
        set: function (newValue) {
          this.nodeVal = newValue;
        }
      }
    },
    watch: {
      doc: function(doc) {
        this.$emit('update:doc', doc);
      },
      inputVal(val) {
        this.$emit('input', val);
      }
    },
    methods: {
      quillComponentTextChanged(v) {
        this.inputVal = v;
      },
      pmComponentTextChanged(node) {
        this.nodeVal = node;
        this.$emit('pmTextChanged', node);
      },
      pmEditorCreated(ed) {
        this.$emit('editorCreated', ed);
      }
    },
    created() {

    },
    mounted() {
    },
  }
</script>
<style lang="scss">

</style>
