<template>
  <div>
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title" v-if="data.person">
            {{data.person.name}}
          </h1>
          <h2 class="subtitle" v-if="data.person">
            {{countryName}}
          </h2>
        </div>
      </div>
    </section>
    <section>
      <b-notification v-if="u" title="Default" :active.sync="u.notificationActive" :type="u.notificationType">
        {{u.notificationMessage}}
      </b-notification>
    </section>
    <section class="section_editor">
      <b-field
        label="Name"
        ref="name"
        :type="getType('name')"
        :message="getValidationMessage('name')"
      >
        <b-input v-model="data.person.name" v-if="data.person"></b-input>
      </b-field>

      <b-field
        label="Title (office)"
        ref="title"
        :type="getType('title')"
        :message="getValidationMessage('title')"
      >
        <b-input v-model="data.person.title" v-if="data.person"></b-input>
      </b-field>

      <b-field
        label="Aliases"
        ref="aliases"
        :type="getType('aliases')"
        :message="getValidationMessage('aliases')"
      >
        <b-input v-model="data.person.aliases" v-if="data.person"></b-input>
      </b-field>

      <b-field
        label="Profile"
        ref="profile"
        :type="getType('profile')"
        :message="getValidationMessage('profile')"
      >
        <b-input v-model="data.person.profile" v-if="data.person"></b-input>
      </b-field>

      <b-field label="Country"
               ref="country"
               :type="getType('country')"
               :message="getValidationMessage('country')"
      >
        <auto-complete
          v-if="data.person"
          ref="countryAutoComplete"
          v-bind:ag-model="countryName"
          ag-field="name"
          ag-placeholder="e.g. Maldives"
        >
        </auto-complete>
      </b-field>

      <b-field label="Tags">
        <bue-tag
          v-if="data.person"
          ref="bueTagger"
          v-bind:ag-model=data.person.tags
          ag-field="tag"
          ag-placeholder="Add tags.."
        >
        </bue-tag>
      </b-field>

      <b-tabs v-model="activeTab">
        <b-tab-item label="Introduction">
          <b-field>
            <Prose
              v-if="data.person"
              ref="introductionPM"
              provider="prosemirror"
              :readonly=false
              :doc="data.person.introduction.node"
              @update:node="updateNode($event, 'this.data.person.introduction.node')"
              container="introduction_editor_pm"
            >
            </Prose>
          </b-field>
        </b-tab-item>

        <b-tab-item label="Images" v-if="$route.meta.mode !== 'create'">
          <media-manager
            v-if="data.media"
            ref="mediaManager"
            show-header="false"
            show-drop-area="false"
            :media="data.media"
            :mount-points="mountPoints"
            :link-to="linkTo"
            asset-type="image"
            v-on:media:refresh="refreshMedia($event)"
          >
          </media-manager>
        </b-tab-item>

        <b-tab-item label="Sources" v-if="$route.meta.mode !== 'create'">
          Texts and bookmarks.
        </b-tab-item>
        <b-tab-item label="Video" v-if="$route.meta.mode !== 'create'">
          Footage
        </b-tab-item>
        <b-tab-item label="Audio" v-if="$route.meta.mode !== 'create'">
          Adio
        </b-tab-item>
      </b-tabs>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" @click="save" type="submit">Submit</button>
        </div>
        <div class="control">
          <button class="button is-text">Cancel</button>
        </div>
      </div>
      <!--/form-->
    </section>
  </div>
</template>

<script type="text/javascript">
  import Resource from '../Resource';
  import lodash from 'lodash';
  import Util from '../../helpers/util';
  import Api from '../../themelia/api';

  import MediaManager from "../../components/MediaManager.vue";
  // import TextEditor from '../../components/TextEditor.vue';

  import Prose from '../../components/TextEditor/PM/PM';

  import Daddy from '../../components/Daddy.vue';

  import AutoComplete from '../../components/AutoComplete.vue';
  import BueTag from "../../components/BueTag.vue";

  export default {
    extends: Resource,
    components: {
      Prose,
      // TextEditor,
      Daddy,
      BueTag,
      AutoComplete,
      MediaManager,
      lodash,
      Api,
      Util
    },
    data() {
      return {
        data: [],
        doc: {},
        inputState: [],
        activeTab: 0,
        u: null,
        country: {},
        isFetchingCountries: false,
        countries: [],
        countryName: '',
        mountPoints: ['people', this.$route.params.id],
        linkTo: ['people', this.$route.params.id],
        identity: 'people'
      }
    },
    methods: {
      updateNode(value, ctrl) {
        this.data.person.introduction.newNode = value;
      },
      save() {
        this.loading = true;

        let dt = {};

        if (null !== this.$refs.countryAutoComplete.selectedValue) {
          this.data.person.country = this.$refs.countryAutoComplete.selectedValue._key;
        }

        let bt = this.$refs.bueTagger;

        this.data.person.tags = bt.localModel;

        this.data.person.introduction = {
          node: this.data.person.introduction.newNode,
          html: this.data.person.introduction.html,
          markdown: this.data.person.introduction.markdown
        }

        dt = this.data.person;

        console.log("Data to persist: ");
        console.log(dt);

        if (this.$route.meta.mode === 'edit') {
          Api.patch(
            `/api/people/${this.$route.params.id}`, dt)
            .then(response => {
              // JSON responses are automatically parsed.
              this.loading = false;
              if (response.status != 200 && response.status != 202) {
                this.updateFormStatus(response.data);
                Util.notifikation("Couldn't update this resource", 'danger', 2000);
              } else {
                Util.notifikation("The resource has been updated successfully", 'success', 2000);
              }
            })
            .catch(e => {
              //  this.errors.push(e)
              console.log(e);
            });
        } else {
          Api.post(
            `/api/people/`, dt)
            .then(response => {
              // JSON responses are automatically parsed.
              this.loading = false;

              this.updateFormStatus(response.data);

              if (response.status != 200 && response.status != 202) {
                Util.notifikation("Couldn't add this resource", 'danger', 2000);
              } else {
                console.log(response);
                this.$router.push({path: `/manage/people/${response.data._key}/edit`}) // -> /user/123

                Util.notifikation("The resource has been added successfully", 'success', 2000);
              }

            })
            .catch(e => {
              //  this.errors.push(e)
              this.loading = false;

              console.log(e);
            });
        }

      },
      loadAsyncData() {
        this.loading = true;

        Api.get(`/api/people/edit/${this.$route.params.id}`)
          .then(response => {
            this.data = response.data;
            this.data.person.introduction.newNode = this.data.person.introduction.node;

            this.countryName = this.data.country.name;
            this.loading = false;

          });
      }

    },
    watch: {
      'data.person.introduction.node': function (newVal) {
        //
      }

    },
    filters: {},
    created() {
      console.log('People/Edit created...');
    },
    mounted() {
      console.log('People/Edit mounted...');

      this.u = Util;
      this.loadAsyncData();
    }
  }


</script>
<style>
  .mediaMeta {
    position: absolute;
    display: inline-block;
  }

  .mediaMeta label {
    font-size: 0.8em;
    display: block;
  }

  .vue-dropzone .dz-preview .dz-details {
    bottom: 0;
    top: 0;
    color: white;
    background-color: rgba(71, 76, 78, 0.8) !important;
    transition: opacity .2s linear;
    text-align: left;
  }

  .dropzone .dz-preview:hover {
    z-index: unset !important;
  }

  .dropzone .dz-preview:hover .dz-details {
    opacity: 0 !important;
  }

  .dz-image {
    /* background-color: #f6f6f6 !important; */
    background-color: #ffffff !important;
  }

  .dropzone .dz-preview .dz-file-preview:hover {
    z-index: 1000 !important;
  }

  .dropzone .dz-preview .dz-file-preview:hover .dz-details {
    opacity: 1 !important;
  }

  .dropzone .dz-preview .dz-file-preview:hover .dz-details {
    opacity: 1;
  }

  .vue-dropzone:hover img {
    background-color: #F6F6F6 !important;
  }


</style>
