<template>
  <div>
    koko
  </div>
</template>
<script>
  import Api from '../themelia/api';

  export default {
    components: {
      Api
    },
    data() {
      return {
        signature: 'Grid v0.1.1a',
        x: null,    // <-- mysteriously named var to hold the mixed and complicated data returned
        aql: '',
        // count: 0,
        // totalCount: 0,
        // total: 0,
        // fields: '',
        // loading: false,
        // sortField: 'name',
        // sortOrder: 'asc',
        // defaultSortOrder: 'asc',
        // page: 1,
        // perPage: 30,
        // q: ''
        
      }
    },
    methods: {
    },
    created() {
      console.log('Resource created...');
    },
    mounted() {
      console.log('Resource mounted...');
    }

  }
</script>
