<template>

</template>
<script>
  import Api from '../themelia/api';

  export default {
    components: {
      Api
    },
    data() {
      signature: 'Resource v0.1.1'
    },
    methods: {
      zuper() {
        console.log("Mummy's zuper funk");
      },
      getValidationMessage(fld) {
        if (this.inputState.hasOwnProperty(fld)) {
          if (this.inputState[fld].hasOwnProperty('error')) {
            return this.inputState[fld].error;
          }
        }
        return "";
      },
      getType(fld) {
        if (this.inputState.hasOwnProperty(fld)) {
          if (this.inputState[fld].hasOwnProperty('error')) {
            return "is-danger";
          }
        }

        return "";
      },
      updateFormStatus(data) {
        console.log(data);

        for (let field in this.$refs) {
          // this.$refs[field].type = 'is-danger';
          if (data.hasOwnProperty('errors') && data.errors.hasOwnProperty(field)) {
            this.inputState[field] = {error: data.errors[field]}
          } else {
            this.inputState[field] = {}
          }
        }
      },
      validateBeforeSubmit(e) {
        e.preventDefault();
      },
      refreshMedia(param) {
        console.log('Refresh media from Resource.vue called..');
        console.log('Using '+this.identity+' as my API endpoint...');
        this.loading = true;
        console.log('People.vue/refreshMedia: ');

        let index = 0;
        let yetAnotherPromise = Api.get(`/api/${this.identity}/${this.$route.params.id}`)
          .then(response => {
            let x = response.data;

            this.data.media = x.media;
            this.loading = false;

            if (param.hasOwnProperty('action') && param.action === 'removed') {

            } else if (param.hasOwnProperty('action') && param.action === 'added') {
              let featured = JSON.parse(param.data.response);
              index = _.findIndex(x.media.images, {'_to': 'media/' + featured._key});
            } else if (param.hasOwnProperty('action') && param.action === 'operation') {
              // console.log(param.data.data);
              let featured = param.data.data;
              index = _.findIndex(x.media.images, {'_to': 'media/' + featured._key});
            }

            if (index == -1) {
              index = 0;
            }
            this.$refs.mediaManager.featured = x.media.images[index];

            if (x.media.images.length>0)
              this.$refs.mediaManager.instanceId = 'inst_'+x.media.images[index]._key;

          });

      }
    },
    created() {
      console.log('Resource created...');
    },
    mounted() {
      console.log('Resource mounted...');
    }

  }
</script>
