<template>
  <div>
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{data.tag}}
          </h1>
          <h2 class="subtitle">
            {{data.class}}
          </h2>
        </div>
      </div>
    </section>
    <section>
      <b-notification v-if="u" title="Default" :active.sync="u.notificationActive" :type="u.notificationType">
        {{u.notificationMessage}}
      </b-notification>
    </section>
    <section class="section_editor">
      <form id="editForm" @submit.prevent="validateBeforeSubmit" method="post">
        <b-field label="Tag"
           ref="tag"
           :type="getType('tag')"
           :message="getValidationMessage('tag')"
          >
          <b-input v-model="data.tag"></b-input>
        </b-field>

        <b-field label="Class"
           ref="class"
           :type="getType('class')"
           :message="getValidationMessage('class')"
          >
          <b-input v-model="data.class"></b-input>
        </b-field>

        <b-field label="Parents">

        </b-field>

        <b-field label="Spectrum">
          <!--b-input v-model="data.spectrum"></b-input-->
          <range-slider
            class="slider"
            min="-1"
            max="+1"
            step="0.1"
            v-model="data.spectrum">
          </range-slider>

        </b-field>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" @click="save" type="submit">Submit</button>
          </div>
          <div class="control">
            <button class="button is-text">Cancel</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</template>

<script type="text/javascript">
  import Util from '../../helpers/util';
  import Api from '../../themelia/api';

  import RangeSlider from 'vue-range-slider';
  // you probably need to import built-in style
  import 'vue-range-slider/dist/vue-range-slider.css';

  export default {
    components: {
      Api,
      Util,
      RangeSlider
    },
    data() {
      return {
        data: [],
        editor: null,
        u: null,

        fieldStatus: [],

        showEditor: false,
        tag: "",
        mode: 'new',

        inputState: [],
        identity: 'tags'

      }
    },
    methods: {
      logTags(tags) {
        console.log(tags)
      },
      validateBeforeSubmit(e) {
        e.preventDefault();
      },
      save() {
        this.loading = true;

        let dt = {};

        dt = this.data;

        if (this.$route.meta.mode === 'edit') {
          Api.patch(
            `/api/tags/${this.$route.params.id}`, dt)
            .then(response => {
              // JSON responses are automatically parsed.
              this.loading = false;

              if (response.status != 200 && response.status != 202) {
                this.updateFormStatus(response.data);
                Util.notifikation("Couldn't update this resource", 'danger', 2000);
              } else {
                Util.notifikation("The resource has been updated successfully", 'success', 2000);
              }

            })
            .catch(e => {
              //  this.errors.push(e)
              console.log(e);
            });
        } else {

          console.log("Add new tag with: ");
          console.log(dt);

          Api.post(
            `/api/tags/`, dt)
            .then(response => {
              // JSON responses are automatically parsed.
              this.loading = false;

              console.log("Just GOT back");
              this.updateFormStatus(response.data);

              if (response.status != 200 && response.status != 202) {
                Util.notifikation("Couldn't add this resource", 'danger', 2000);
              } else {
                Util.notifikation("The resource has been added successfully", 'success', 2000);
              }
            })
            .catch(e => {
              //  this.errors.push(e)
              console.log(e);
            });
        }

      },
      loadAsyncData() {
        this.loading = true;

        let url = '';

        if (this.$route.meta.mode === 'create') {
          url = `/api/models/tag`;
        } else {
          url = `/api/tags/${this.$route.params.id}`;
        }

        Api.get(url)
          .then(response => {
            // JSON responses are automatically parsed.

            this.data = response.data;
            console.log(this.data);

            if (this.showEditor) {
              // this.editor.setData(this.data.introduction || '<p>Start here</p>');
            }

            this.loading = false;
          })
          .catch(e => {
            //  this.errors.push(e)
            console.log(e);
          });

      },
      getType(fld) {
        if (this.inputState.hasOwnProperty(fld)) {
          console.log(this.inputState[fld]);
          if (this.inputState[fld].hasOwnProperty('error')) {
            return "is-danger";
          }
        }

        return "";
      },
      getValidationMessage(fld) {
        if (this.inputState.hasOwnProperty(fld)) {
          if (this.inputState[fld].hasOwnProperty('error')) {
            return this.inputState[fld].error;
          }
        }
        return "";
      },
      updateFormStatus(data) {

        for (let field in this.$refs) {
          // this.$refs[field].type = 'is-danger';
          if (data.errors.hasOwnProperty(field)) {
            this.inputState[field] = {error: data.errors[field]}
          } else {
            this.inputState[field] = {}
          }
        }

      }
    },
    filters: {},
    mounted() {
      this.loadAsyncData();
      this.u = Util;
    }
  }
</script>
