<template>

  <div class="columns is-paddingless is-marginless">
    <div class="column is-2">
      <b-field grouped group-multiline>
        <b-select v-model="localModel" @input="pageSizeChanged">
          <option value="5">5 per page</option>
          <option value="10">10 per page</option>
          <option value="15">15 per page</option>
          <option value="30">30 per page</option>
        </b-select>
      </b-field>
    </div>
    <div class="column is-8">
      <div class="field has-addons">
        <div class="control" style="width: 67%; ">
          <input
            class="input"
             v-model="q"
             type="text"
             :placeholder="placeholder"
          >
        </div>
        <div class="control">
          <a class="button is-info" @click="emitQ">
            Search
          </a>
        </div>
        <div class="control" style="margin-left: 1em; margin-top: 0.3em;">
          <b-switch v-model="isQueryAsYouType">
            As you type..
          </b-switch>
        </div>

      </div>
    </div>
    <div class="column is-2 is-right is-pulled-right">
      <div class="control is-right is-pulled-right">
        <router-link class="recipe__inner" :to="`/manage/${this.pluralCollection}/add`">
          <button class="button is-link">Add new</button>
        </router-link>
      </div>
    </div>
  </div>

</template>

<script>
  import pluralize from 'pluralize/pluralize';

  export default {
    name: "d-t-head",
    components: {
      pluralize
    },
    data() {
      return {
        localModelVar: 0,
        q: '',
        singularCollection: '',
        pluralCollection: '',
        placeholder: '',
        isQueryAsYouType: true
      }
    },
    watch: {
      q: function (val, oldVal) {
        if (this.isQueryAsYouType) {
          this.emitQ(val);
        }
      }
    },
    props: {
      perPageModel: {
        type: [String, Number],
        required: false,
        default: 30
      },
      localQModel: {
        type: String,
        required: false,
        default: ''
      },
      collection: {
        type: String,
        required: true
      }

    },
    computed: {
      localModel: {
        // getter
        get: function () {
          return this.perPageModel;
        },
        // setter
        set: function (newValue) {
          /// this.agModel = newValue;
          this.localModelVar = newValue;
        }
      }
    },
    methods: {
      pageSizeChanged: function (sz) {
        this.$emit('pagesizechanged', sz)
      },
      emitQ: function (ev) {
        this.$emit('termsAdded', this.q)
      },
      setLabels: function () {
        this.pluralCollection = pluralize(this.collection);
        this.singularCollection = pluralize.singular(this.collection);
      },
      keyDown(ev) {
        if (ev.code == 'Enter') {
          this.emitQ(ev);
        }
      },
      queryModeToggle(ev) {

        console.log(ev);
      }
    },
    created() {
      this.setLabels();
      this.placeholder = 'Search ' + this.pluralCollection;
    }
  }

</script>

<style scoped>

</style>
