<template>
  <div :id="container" style="min-height: 100px;" v-html="inputVal"></div>

</template>

<script>
  // import Api from '../themelia/';
  import Transformer from '../../../themelia/transformer'
  import Quill from 'quill';
  import X from 'cash-dom';

  export default {
    components: {
      Quill,
      Transformer,
      X
    },
    name: 'QuillEditor',
    props: {
      value: {
        required: false,
        type: String,
      },
      theme: {
        type: String,
        required: true,
      },
      readonly: {
        type: Boolean,
        default: false,
      },
      container: {
        type: String,
        required: false,
        default: 'editor'
      },
      placeholder: {
        type: String,
        required: false,
      },
      minHeight: {
        required: false,
        type: String,
        default: '200px'
      },
      toolbarOptions: {
        type: Object,
        default: () => {
          ['bold', 'italic'],        // toggled buttons

            [{'list': 'ordered'}, {'list': 'bullet'}],
            [{'indent': '-1'}, {'indent': '+1'}],          // outdent/indent

            [{'size': ['small', false, 'large', 'huge']}],  // custom dropdown
            [{'header': [1, 2, 3, 4]}],

            [{'font': []}],
            [{'align': []}]
        }
      }
    },
    data() {
      return {
        quill: null,
        inputVal: this.value
      }
    },
    computed: {
    },
    watch: {
    },
    methods: {
    },
    created() {
    },
    mounted() {
      console.log("In Quill...");
      this.quill = new Quill('#'+this.container, {
        theme: this.theme,
        placeholder: this.placeholder,
        modules: {
          toolbar: this.toolbarOptions
        },
        cntx: this
      });


      // here we set the real workers
      // see
      let me = this;
      this.quill.on('text-change', function(a, b, originator) {
        console.log('Text change->CashCode');

        let p = X('#'+me.container);
        let cnt = p.find('div.ql-editor');
        me.$emit('quillComponentTextChanged', cnt[0].innerHTML);

      });
      let p = X('#'+this.container);
      p.height(100);

    }
  }
</script>
<style>

</style>
