<template>
  <div>
    <editor class="editor" :extensions="extensions"  @update="onUpdate"  :doc="doc"  ref="bubbleEditor">

      <div class="menububble" slot="menububble" slot-scope="{ marks, focus }">
        <template v-if="marks">

          <button
            class="menububble__button"
            :class="{ 'is-active': marks.bold.active() }"
            @click="marks.bold.command"
          >
            <icon name="bold" />
          </button>

          <button
            class="menububble__button"
            :class="{ 'is-active': marks.italic.active() }"
            @click="marks.italic.command"
          >
            <icon name="italic" />
          </button>

          <button
            class="menububble__button"
            :class="{ 'is-active': marks.code.active() }"
            @click="marks.code.command"
          >
            <icon name="code" />
          </button>

        </template>

      </div>

      <div class="editor__content" slot="content" slot-scope="props">
        <p>&nbsp;</p>
      </div>

    </editor>
  </div>
</template>

<script>

  import Icon from '../../../components/Icon';
  import { Editor } from 'tiptap';

  import {
    BlockquoteNode,
    BulletListNode,
    CodeBlockNode,
    HardBreakNode,
    HeadingNode,
    ListItemNode,
    OrderedListNode,
    TodoItemNode,
    TodoListNode,
    BoldMark,
    CodeMark,
    ItalicMark,
    LinkMark,
    HistoryExtension,
  } from 'tiptap-extensions'

  import EmMark from './emmark';
  import SupMark from './supmark'
  import StrongMark from './strongmark';

  export default {
    components: {
      Editor,
      Icon,
    },
    data() {
      return {
        extensions: [
          new BlockquoteNode(),
          new BulletListNode(),
          new CodeBlockNode(),
          new HardBreakNode(),
          new HeadingNode({ maxLevel: 3 }),
          new ListItemNode(),
          new OrderedListNode(),
          new TodoItemNode(),
          new TodoListNode(),
          new BoldMark(),
          new EmMark(),
          new SupMark(),
          new StrongMark(),
          new CodeMark(),
          new ItalicMark(),
          new LinkMark(),
          new HistoryExtension(),
        ],
      }
    },
    props: {
      doc: {
        required: false,
        default: function () { return {} },
        type: Object,
      },
    },
    methods: {
      onUpdate({ getJSON }) {
        console.log('STASI');
        this.$emit('update:node', getJSON());
      },
      setContent(doc) {
        console.log(this.$refs.bubbleEditor);

        // you can pass a json document
        this.$refs.bubbleEditor.setContent(doc, false)
        // HTML string is also supported
        // this.$refs.editor.setContent('<p>This is some inserted text. 👋</p>')
        this.$refs.bubbleEditor.focus();

      },
    },
    mounted() {

    },
    watch: {
      doc: function (newDoc, oldDoc) {
        //  this.$refs.bubbleEditor.setContent(newDoc, true);
        // this.doc = newDoc;
        // this.setContent(newDoc);
        //this.$emit('update:node', newDoc);
      }
    },
  }
</script>
<style>
  .icon {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
</style>
