<template>
  <div>
    <editor class="editor" :extensions="extensions" @update="onUpdate" :doc="computedDoc">

      <div class="menubar" slot="menubar" slot-scope="{ nodes, marks }">
        <div v-if="nodes && marks">

          <button
            class="menubar__button"
            :class="{ 'is-active': marks.bold.active() }"
            @click="marks.bold.command"
          >
            <icon name="bold"/>
          </button>

          <button
            class="menubar__button"
            :class="{ 'is-active': marks.italic.active() }"
            @click="marks.italic.command"
          >
            <icon name="italic"/>
          </button>

          <button
            class="menubar__button"
            @click="marks.code.command"
            :class="{ 'is-active': marks.code.active() }
					">
            <icon name="code"/>
          </button>

          <button
            class="menubar__button"
            :class="{ 'is-active': nodes.paragraph.active() }"
            @click="nodes.paragraph.command"
          >
            <icon name="paragraph"/>
          </button>

          <button
            class="menubar__button"
            :class="{ 'is-active': nodes.heading.active({ level: 1 }) }"
            @click="nodes.heading.command({ level: 1 })"
          >
            H1
          </button>

          <button
            class="menubar__button"
            :class="{ 'is-active': nodes.heading.active({ level: 2 }) }"
            @click="nodes.heading.command({ level: 2 })"
          >
            H2
          </button>

          <button
            class="menubar__button"
            :class="{ 'is-active': nodes.heading.active({ level: 3 }) }"
            @click="nodes.heading.command({ level: 3 })"
          >
            H3
          </button>

          <button
            class="menubar__button"
            :class="{ 'is-active': nodes.bullet_list.active() }"
            @click="nodes.bullet_list.command"
          >
            <icon name="ul"/>
          </button>

          <button
            class="menubar__button"
            :class="{ 'is-active': nodes.ordered_list.active() }"
            @click="nodes.ordered_list.command"
          >
            <icon name="ol"/>
          </button>

          <button
            class="menubar__button"
            :class="{ 'is-active': nodes.code_block.active() }"
            @click="nodes.code_block.command"
          >
            <icon name="code"/>
          </button>

        </div>
      </div>

      <div class="editor__content" slot="content" slot-scope="props">
        <p>&nbsp;</p>
      </div>

    </editor>
  </div>
</template>

<script>

  import Icon from '../../../components/Icon';
  import {Editor} from 'tiptap';

  import {
    BlockquoteNode,
    BulletListNode,
    CodeBlockNode,
    HardBreakNode,
    HeadingNode,
    ListItemNode,
    OrderedListNode,
    TodoItemNode,
    TodoListNode,
    BoldMark,
    CodeMark,
    ItalicMark,
    LinkMark,
    HistoryExtension,
  } from 'tiptap-extensions'

  import EmMark from './emmark';
  import SupMark from './supmark'
  import StrongMark from './strongmark';

  export default {
    components: {
      Editor,
      Icon,
    },
    data() {
      return {
        extensions: [
          new BlockquoteNode(),
          new BulletListNode(),
          new CodeBlockNode(),
          new HardBreakNode(),
          new HeadingNode({maxLevel: 3}),
          new ListItemNode(),
          new OrderedListNode(),
          new TodoItemNode(),
          new TodoListNode(),
          new BoldMark(),
          new EmMark(),
          new SupMark(),
          new StrongMark(),
          new CodeMark(),
          new ItalicMark(),
          new LinkMark(),
          new HistoryExtension(),
        ],
      }
    },
    props: {
      doc: {
        required: false,
        default: function () {
          return {}
        },
        type: Object,
      },
    },
    computed: {
      // a computed getter
      computedDoc: function () {
        // `this` points to the vm instance
        return this.doc;
      }
    },
    methods: {
      onUpdate({getJSON}) {
        this.$emit('update:node', getJSON());
      },
    },
    mounted() {

    },
    watch: {
      doc: {
        handler: function (doc) {
        //  this.$emit('update:doc', doc);
        },
        deep: true
      },
    },
  }
</script>
