// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables

// @import "variables";

// @import "~bulma/css/bulma.css";
// Leaflet
@import "~leaflet/dist/leaflet.css";

@import "~bulma/aginter.css";
//@import "~bulma/bulma.sass";

@import "./../../../node_modules/font-awesome/css/font-awesome.min.css";
@import "tiptap.css";

@font-face {
  font-family: 'latin_modern_mono_bold10Rg';
  src: url('lmmonolt10-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.mono {
  font-family: 'latin_modern_mono_bold10Rg' !important;
  font-size: 16px;
  margin-bottom: 6px;
}

.tag {
  font-family: 'latin_modern_mono_bold10Rg' !important;
  font-size: 16px !important;

}

.hero .title,.subtitle {
  font-family: 'latin_modern_mono_bold10Rg' !important;
}


#editForm {
  padding-top: 1.2em;
}

.upload .upload-draggable {
  width: 100% !important;
}

/* Hides <input type="file"> while simulating "Browse" button: */
.fd-file {
  opacity: 0;
  font-size: 118px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 0;
  margin: 0;
  cursor: pointer;
  filter: alpha(opacity=0);
  font-family: sans-serif;
}

/* Provides visible feedback when user drags a file over the drop zone: */
.fd-zone.over {
  border-color: maroon;
  background: #eee;
}

/* App specific */
.slider {
  /* overwrite slider styles */
  width: 270px !important;
}

.section_editor {
  padding: 0px 0px 17.5px 0px;
}

.range-slider-fill {
  background: linear-gradient(to right, red, black);
}

/* maps */
.easy_button {
  font-size: 2em;
}

/* Editor */

/* Quill */
.ql-bubble * {
  z-index: 100 !important;
}

.ql-snow .ql-editor a {
  text-decoration: none !important;
  color: #1c1c1c;
  background-color: #fee555;
  padding: 2px 3px 2px 3px;

}

.image.tiler img {
  max-height: 176px;
  width: auto;
}



/*
  tiptap
 */

.icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 .3rem;
  top: -.05rem;
  fill: currentColor;

  // &.has-align-fix {
  // 	top: -.1rem;
  // }

  &__svg {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

}

.kanga {
  position: relative;
}

// svg sprite
body > svg,
.icon use > svg,
symbol {
  path,
  rect,
  circle,
  g {
    fill: currentColor;
    stroke: none;
  }

  *[d="M0 0h24v24H0z"] {
    display: none;
  }
}


