* {
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%
}

:focus {
  outline: none
}

:after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html {
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
  font-size: 18px;
  line-height: 1.5
}

body {
  margin: 0
}

a {
  color: inherit
}

blockquote, h1, h2, h3, ol, p, pre, ul {
  margin: 1rem 0
}

blockquote:first-child, h1:first-child, h2:first-child, h3:first-child, ol:first-child, p:first-child, pre:first-child, ul:first-child {
  margin-top: 0
}

blockquote:last-child, h1:last-child, h2:last-child, h3:last-child, ol:last-child, p:last-child, pre:last-child, ul:last-child {
  margin-bottom: 0
}

h1, h2, h3 {
  line-height: 1.3
}

.button {
  background: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, .1);
  border: 0;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  margin-right: .2rem;
  padding: .2rem .5rem
}

.icon[data-v-9513899a] {
  display: inline-block;
  fill: currentColor;
  height: .8rem;
  margin: 0 .3rem;
  position: relative;
  top: -.05rem;
  vertical-align: middle;
  width: .8rem
}

.icon__svg[data-v-9513899a] {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  width: 100%
}

.icon[data-v-9513899a]:first-child {
  margin-left: 0
}

.icon[data-v-9513899a]:last-child {
  margin-right: 0
}

.icon use > svg circle[data-v-9513899a], .icon use > svg g[data-v-9513899a], .icon use > svg path[data-v-9513899a], .icon use > svg rect[data-v-9513899a], body > svg circle[data-v-9513899a], body > svg g[data-v-9513899a], body > svg path[data-v-9513899a], body > svg rect[data-v-9513899a], symbol circle[data-v-9513899a], symbol g[data-v-9513899a], symbol path[data-v-9513899a], symbol rect[data-v-9513899a] {
  fill: currentColor;
  stroke: none
}

.icon use > svg [d="M0 0h24v24H0z"][data-v-9513899a], body > svg [d="M0 0h24v24H0z"][data-v-9513899a], symbol [d="M0 0h24v24H0z"][data-v-9513899a] {
  display: none
}

.navigation[data-v-802d4490] {
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  align-items: center;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: .75rem
}

.navigation__logo[data-v-802d4490] {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0
}

.navigation__icon[data-v-802d4490] {
  height: 1.5rem;
  width: 1.5rem
}

.navigation__beta[data-v-802d4490] {
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  display: inline-block;
  font-size: .6rem;
  font-weight: 700;
  letter-spacing: .05rem;
  padding: .1rem .2rem;
  text-transform: uppercase;
  vertical-align: middle
}

.navigation__link[data-v-802d4490] {
  border-radius: 3px;
  color: hsla(0, 0%, 100%, .5);
  display: inline-block;
  font-size: .9rem;
  font-weight: 700;
  padding: .1rem .5rem;
  text-decoration: none
}

.navigation__link[data-v-802d4490]:hover {
  background-color: hsla(0, 0%, 100%, .1);
  color: #fff
}

.navigation__github-link[data-v-802d4490] {
  margin-left: .5rem
}

.hero[data-v-5a80d244] {
  background-color: #000;
  color: #fff;
  padding: 3rem 1rem;
  text-align: center
}

.hero__inner[data-v-5a80d244] {
  margin: 0 auto;

}

.hero__logo[data-v-5a80d244] {
  height: 4rem;
  width: 4rem
}

.hero__logo path[data-v-5a80d244] {
  fill: #fff
}

.subnavigation[data-v-460c8f74] {
  background-color: rgba(0, 0, 0, .9);
  color: #fff;
  padding: .5rem;
  text-align: center
}

@media (min-width: 600px) {
  .subnavigation[data-v-460c8f74] {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000
  }
}

.subnavigation__link[data-v-460c8f74] {
  border-radius: 3px;
  color: hsla(0, 0%, 100%, .5);
  display: inline-block;
  font-size: .9rem;
  font-weight: 700;
  padding: .1rem .5rem;
  text-decoration: none
}

.subnavigation__link[data-v-460c8f74]:hover {
  background-color: hsla(0, 0%, 100%, .1);
  color: #fff
}

.subnavigation__link.is-exact-active[data-v-460c8f74] {
  background-color: hsla(0, 0%, 100%, .2);
  color: #fff
}

.ad[data-v-d8041bf2] {
  -webkit-transition: -webkit-transform .2s;
  display: block;
  margin: 3rem auto 0;
  padding: 1rem;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  width: 15rem
}

@media (min-width: 1020px) {
  .ad[data-v-d8041bf2] {
    bottom: 0;
    left: 0;
    margin-top: 0;
    position: fixed
  }
}

.ad__image[data-v-d8041bf2] {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05), 0 2px 10px 0 rgba(0, 0, 0, .07);
  -webkit-transition: -webkit-box-shadow .2s;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05), 0 2px 10px 0 rgba(0, 0, 0, .07);
  display: block;
  height: auto;
  overflow: hidden;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
  width: 100%
}

.ad[data-v-d8041bf2]:hover {
  -ms-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px)
}

.ad:hover .ad__image[data-v-d8041bf2] {
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .07), 0 5px 20px 0 rgba(0, 0, 0, .06), 0 8px 40px 0 rgba(0, 0, 0, .04);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .07), 0 5px 20px 0 rgba(0, 0, 0, .06), 0 8px 40px 0 rgba(0, 0, 0, .04)
}

.page__content {
  padding: 4rem 1rem
}

.page__footer {
  margin-bottom: 2rem;
  text-align: center
}

.page__source-link {
  background-color: rgba(0, 0, 0, .1);
  border-radius: 5px;
  color: #000;
  display: inline-block;
  font-size: .8rem;
  font-weight: 700;
  padding: .2rem .5rem;
  text-decoration: none;
  text-transform: uppercase
}

.editor {
  margin: 0 auto 5rem;

  position: relative
}

.editor__content pre {
  background: #000;
  border-radius: 5px;
  color: #fff;
  font-size: .8rem;
  overflow-x: auto;
  padding: .7rem 1rem
}

.editor__content pre code {
  display: block
}

.editor__content p code {
  background: rgba(0, 0, 0, .1);
  border-radius: 5px;
  color: rgba(0, 0, 0, .8);
  display: inline-block;
  font-size: .8rem;
  font-weight: 700;
  padding: 0 .4rem
}

.editor__content ol, .editor__content ul {
  padding-left: 1rem
}

.editor__content a {
  color: inherit
}

.editor__content blockquote {
  border-left: 3px solid rgba(0, 0, 0, .1);
  color: rgba(0, 0, 0, .8);
  font-style: italic;
  padding-left: .8rem
}

.editor__content blockquote p {
  margin: 0
}

.editor__content img {
  border-radius: 3px;
  max-width: 100%
}

.menububble {
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -webkit-transition: opacity .2s, visibility .2s;
  background: #000;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: .5rem;
  opacity: 0;
  padding: .3rem;
  position: absolute;
  transform: translateX(-50%);
  transition: opacity .2s, visibility .2s;
  visibility: hidden;
  z-index: 20
}

.menububble__button {
  background: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: .2rem;
  padding: .2rem .5rem
}

.menububble__button:last-child {
  margin-right: 0
}

.menububble__button:hover {
  background-color: hsla(0, 0%, 100%, .1)
}

.menububble__button.is-active {
  background-color: hsla(0, 0%, 100%, .2)
}

.menububble__form {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.menububble__input {
  background: rgba(0, 0, 0, 0);
  border: none;
  color: #fff;
  font: inherit
}

.menubar {
  -webkit-transition: visibility .2s .4s, opacity .2s .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  transition: visibility .2s .4s, opacity .2s .4s;
  width: 100%;
}

.menubar.is-hidden {
  opacity: 0;
  visibility: hidden
}

.menubar.is-focused {
  -webkit-transition: visibility .2s, opacity .2s;
  opacity: 1;
  transition: visibility .2s, opacity .2s;
  visibility: visible
}

.menubar__button {
  background: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  margin-right: .2rem;
  padding: .2rem .5rem
}

.menubar__button:hover {
  background-color: rgba(0, 0, 0, .05)
}

.menubar__button.is-active {
  background-color: rgba(0, 0, 0, .1)
}

ul[data-type=todo_list] {
  padding-left: 0
}

li[data-type=todo_item] {
  -ms-flex-direction: row;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row
}

.todo-checkbox {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-box-sizing: border-box;
  -webkit-transition: background .4s;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #000;
  border-radius: .2em;
  box-sizing: border-box;
  cursor: pointer;
  height: .9em;
  margin-right: 10px;
  margin-top: .3rem;
  transition: background .4s;
  user-select: none;
  width: .9em
}

.todo-content {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1
}

li[data-done=true] {
  text-decoration: line-through
}

li[data-done=true] .todo-checkbox {
  background-color: #000
}

li[data-done=false] {
  text-decoration: none
}
