<template>
  <div class="is-8">
    <div class="columns is-8">
      <div class="column">
        <div v-if="featured" class="columns">
          <div class="column">
            <a v-on:click="assetImageOperation(featured, 'color', 'bw')">
              <img width="24" src="/icons/ic_monochrome_photos_black_48px.svg">
            </a>
          </div>

          <div class="column is-2 is-centered">
            <a href="#"><img src="/icons/ic_grade_black_24px.svg"></a>
          </div>
          <div class="column is-2 is-right">
            <a href="#" @click="(event) => { destroy(event) }"><img src="/icons/ic_delete_black_24px.svg"></a>
          </div>

        </div>
        <div id="fileZone">
          <img :src="makeImage()">

        </div>
      </div>
      <div v-if="featured" class="column is-7">
        <div class="field is">
          <label class="label is-small">Title</label>
          <div class="control">
            <input class="input is-small" v-model="featured.title" type="text" placeholder="Text input">
          </div>
        </div>

        <div class="field">
          <label class="label is-small">Source</label>
          <div class="control">
            <input class="input is-small" type="text" v-model="featured.source" placeholder="Text input">
          </div>
        </div>

        <div class="field">
          <label class="label is-small">Copyright</label>
          <div class="control">
            <input class="input is-small" type="text" v-model="featured.copyright" placeholder="Text input">
          </div>
        </div>

        <div class="field">
          <label class="label is-small">License</label>
          <div class="control">
            <input class="input is-small" type="text" v-model="featured.license" placeholder="Text input">
          </div>
        </div>

        <div class="field">
          <label class="label is-small">Author</label>
          <div class="control ">
            <input class="input is-small" type="text" v-model="featured.author" placeholder="Text input">
          </div>
        </div>

        <div class="field">
          <label class="label is-small">Description</label>
          <div class="control">
            <!--text-editor
              v-if="featured.description"
              ref="description"
              :id="elementId"
              provider="quillz"
              v-model="featured.description.html"
              :readonly=false
              container="featured_editor"
              placeholder="Description..."
              theme="bubble"
              :toolbar-options="toolbarOptions"
            >
            </text-editor-->
            <ProseBubble
              v-if="featured.description"
              ref="blurbPM"
              provider="prosemirror"
              :readonly=false
              :doc="featured.description.node"
              @update:node="updateNode($event, '')"
              container="introduction_editor_pm"
            >
            </ProseBubble>
            <!--text-editor

                          @update:node="updateNode($event, 'featured.description.node')"
              v-if="featured.description"
              ref="blurbPM"
              provider="prosemirror"
              :readonly=false

              v-bind:doc.sync="featured.description.node"

              container="blurb_editor_pm"
              editor-type="blurb"
              placeholder="Introduction..."
              theme="snow"
              :instance="instance"
              v-on:editorCreated="setEditor"
              >
            </text-editor-->

          </div>
        </div>
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-primary" >
                <span class="icon is-small">
                  <b-icon icon="check"></b-icon>
                </span>
                <button ref="spinner" class="button is-link is-small" @click="persistMeta" type="submit">Update</button>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  import Api from '../../themelia/api';
  import Util from '../../helpers/util';
  import pluralize from 'pluralize/pluralize';
  import ProseBubble from '../../components/TextEditor/PM/Bubble';

  // import TextEditor from '../../components/TextEditor.vue';
  import X from 'cash-dom';

  export default {
    name: "tile",
    components: {
      pluralize,
      ProseBubble,
      // TextEditor,
      X
    },
    data() {
      return {
        src: '',
        editor: null,
        doc: null,
        toolbarOptions: {
          type: Array,
          default: () => [
            ['bold', 'italic'],
            [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
            [{ 'align': [] }]

          ]
        }
      }
    },
    props: {
      featured: {
        type: Object,
        required: false,
        default: function () {
          return {}
        }
      },
      elementId: {
        type: String,
        required: false,
        default: 'agEditor'
      },
      instance: {
        type: String,
        required: false
      }

    },
    methods: {
      updateNode (value) {
        this.featured.description.newNode = value;
      },
      destroy(event) {
        let mnt = this.featured.mountPoint;

        let linker = mnt.substr(0,mnt.indexOf('/'));
        if (linker !== 'people') {
          linker = pluralize(linker);
        }

        linker = linker + '_media';

        let key = this.featured._key;
        let to = this.featured._to;

        // destroy linker record
        console.log(`/api/${linker}/${key}`);

        Api.delete(`/api/${linker}/${key}`)
          .then(response => {
          })
          .catch(e => {
            console.log(e);
          });

        // destroy media
        Api.delete(`/api/${to}`)
          .then(response => {
            Util.notifikation("Removed", 'success', 2000);
            this.$emit('tiles:refresh', {action: 'removed', data: response});
          })
          .catch(e => {
            console.log(e);
          });

      },
      setEditor(ed) {
        console.log("Media.Edit.setEditor");
        this.$emit("setEditor",ed);

      },

      persistMeta(event) {
        console.log("Persisting...");

        let btn = this.$refs.spinner;
        btn.classList.add('is-loading');
        this.featured.description = {
          node: this.featured.description.newNode,
          html: this.featured.description.html,
          markdown: this.featured.description.markdown,
        }
        let dt = {
          title: this.featured.title,
          source: this.featured.source,
          copyright: this.featured.copyright,
          license: this.featured.license,
          author: this.featured.author,
          description: this.featured.description,
          addedBy: 'Petros Diveris'
        };

        console.log(dt);
        this.loading = true;

        Api.patch(
          `/api/${this.featured._to}`, dt)
          .then(response => {
            // JSON responses are automatically parsed.
            this.loading = false;

            btn.classList.remove('is-loading');

            if (response.status != 200 && response.status != 202) {

              Util.notifikation("Couldn't update metadata", 'danger', 2000);
            } else {
              Util.notifikation("The metadata of this image have been updated successfully", 'success', 2000);
            }
          })
          .catch(e => {
            btn.classList.remove('is-loading');
            console.log(e);
          });

      },
      assetImageOperation(file, operation, value, event) {
        if (event) event.preventDefault();

        console.log("Making black and white...");

        let dt = file;

        let pipeline = {};
        pipeline.operation = operation;
        pipeline.value = value;

        let struct = {resource: dt, pipeline: pipeline};

        // This. Move. OUT!
        Api.post(
          `/api/media/operation/`, struct)
          .then(response => {
            // JSON responses are automatically parsed.
            this.loading = false;
            /// Util.notifikation("The resource has been updated successfully", 'success', 2000);

            console.log(response.data);
            Util.notifikation("Done", 'success', 2000);
            this.$emit('tiles:refresh', {action: 'operation', data: response});


          })
          .catch(e => {
            //  this.errors.push(e)
            console.log(e);
          });

      },
      placeHolder(file) {
      },
      makeImage() {
        let ret = '';

        if (this.featured && this.featured.hasOwnProperty('file')) {
          ret = "/media/images/" + this.featured.mountPoint;
          ret += "/";
          ret += this.featured.file;

          ret = ret.replace(".jpg", "-image(560x373).jpg");
          ret = ret.replace(".png", "-image(560x373).png");


        } else {
          console.log('/images/placeholder-image(560x373-crop).png');
          ret += '/images/placeholder-image(560x373-crop).png';
        }
        return ret;
      }
    },
    watch: {
      'featured.description': {
          handler: function (val) {
            // Log it

          },
          deep: true
      },
      doc(val) {

        // this.$refs.blurbPM.node = val.description.node;

      },
      instance(val) {

      },

    },
    created() {
    },
    mounted() {
    }

  }


</script>

<style scoped>

</style>
