<template>
  <div v-if="media">
    <draggable :list="media.images" :move="checkMove" @end="onEnd">
      <div v-for="(file, index) in media.images" class="tile is-3 is-parent is-pulled-left">
        <article class="tile is-child box is-primary">
          <p class="is-small mono">{{file.title}}</p>
          <figure class="image tiler">
            <a v-on:click="tileClicked(file)">
              <img :src="getFullSrc(file)">
            </a>
          </figure>
        </article>
      </div>

    </draggable>

  </div>
</template>

<script>
  import draggable from 'vuedraggable';
  import lodash from 'lodash';
  import aginter from '../../themelia/aginter';

  export default {
    name: "tiler",
    components: {
      draggable,
      lodash
    },
    data() {
      return {
        data: [],
        images: [],
      }
    },
    props: {
      media: {
        type: Object,
        required: false,
        default: function () {
          return {}
        }
      }

    },
    methods: {
      getFullSrc(file) {
        let ret = '/media/';
        ret += file.type + 's';   // /
        ret += "/";
        ret += file.mountPoint;    // "actors/chxi"
        ret += "/";
        ret += file.file;

        ret = ret.replace(".jpg", "-image(264x158).jpg");
        ret = ret.replace(".png", "-image(264x158).png");

        return ret;
      },
      tileClicked(tile) {
        this.$emit('tilechanged', tile);
      },
      checkMove(evt) {
        // return (evt.draggedContext.element.name!=='apple');
        return true;
      },
      // start, add, remove, update, end, choose, sort, filter, clone
      onUpdate(evt) {
        console.log('onUpdate occured..');
        console.log(evt);

        return true;
      },
      // Element dragging ended
      onEnd: function (/**Event*/evt) {
        let itemEl = evt.item;  // dragged HTMLElement
        console.log("On end..");
        console.log(evt);

        let arranged = _.mapValues(this.media.images, '_id');

        // let pango = this.media.images.map( function(obj) { return {_id: obj._id, title: obj.title} } );

        console.log(arranged);
        aginter.mediaUpdateListPositions(arranged);

      },

    },
    watch: {
      media: {
        handler: function (val) {
          // Log it
          console.log('Tile: media: changed...');
        },
        deep: false
      }
    },
    created() {
      console.log('Created Tiler..');
      this.images = this.media.images;
    },
    mounted() {
      console.log('Mounted Tiler..');
    }

  }
</script>

<style scoped>

</style>
