<template>
  <div class="container" style="z-index: 999; !important">
    <!--
    work below addressing issue #121 was possible thanks to
      https://siongui.github.io/2018/01/17/bulma-responsive-navbar-with-javascript/
      https://siongui.github.io/code/css/js-for-bulma-navbar/index.html
    -->
    <nav class="navbar is-transparent"  id="menuAgitationDuJour">

        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/images/aginter.gif" alt="agitação internacional"/>
          </a>

          <div class="navbar-burger burger"
              @click="toggleMenu"
              data-target="aginterLeMenu"
              :class="{'is-active': hamburgerIsActive}"
            >

            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

      <div id="aginterLeMenu" class="navbar-menu" :class="{'is-active': hamburgerIsActive}">

        <div class="navbar-start">
            <a class="navbar-item" href="/">
              Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="#">
                Components
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item is-mobile" href="/map">Map</a>
                <a class="navbar-item is-mobile" href="/components">Components</a>

                <hr class="navbar-divider">
                <a class="navbar-item" href="/pdf">
                  PDF
                </a>

                <hr class="navbar-divider">
                <a class="navbar-item" href="/mediasink">
                  MediaSink
                </a>
                <a class="navbar-item is-mobile" href="/pm">
                  ProseMirror
                </a>
                <a class="navbar-item" href="/manage/linktypes">
                  Entity Link Types
                </a>
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable" v-if="auth">
              <a class="navbar-link" href="#">
                DataTables
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item is-mobile" href="/manage/people">People</a>
                <a class="navbar-item is-mobile" href="/manage/organisations">Organisations</a>
                <a class="navbar-item is-mobile" href="/manage/events">Events</a>
                <a class="navbar-item" href="/manage/sources">Sources</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/manage/tags">Tags</a>
                <a class="navbar-item" href="/manage/texta">Texts</a>
                <a class="navbar-item" href="/manage/countries">Countries</a>

              </div>
            </div>

          </div>

          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable is-right" v-if="auth">
              <a class="navbar-link" href="#">
                Petros Diveris
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="/account">Account</a>
                <hr class="navbar-divider">
                <a class="navbar-item" @click.stop="logout">Logout</a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable is-right" v-if="guest">
              <router-link class="navbar-item" to="/register">Register</router-link>
              <router-link class="navbar-item" to="/login">Login</router-link>
            </div>
          </div>
      </div>
    </nav>

    <div class="flash flash__error" v-if="flash.error">
      {{flash.error}}
    </div>
    <div class="flash flash__success" v-if="flash.success">
      {{flash.success}}
    </div>
    <router-view></router-view>
  </div>
</template>
<script type="text/javascript">
  import Auth from './store/auth'
  import Flash from './helpers/flash'
  import {post, interceptors} from './helpers/api'

  Auth.initialize();

  export default {
    created() {
      // global error http handler
      interceptors((err) => {
        if (err.response.status === 401) {
          Auth.remove()
          this.$router.push('/login')
        }

        if (err.response.status === 500) {
          Flash.setError(err.response.statusText)
        }

        if (err.response.status === 404) {
          this.$router.push('/not-found')
        }
      })
      //  Auth.initialize();
    },
    data() {
      return {
        authState: Auth.state,
        flash: Flash.state,
        hamburgerIsActive: false
      }
    },
    computed: {
      auth() {
        if (this.authState.api_token) {
          return true
        }
        return false
      },
      guest() {
        return !this.auth
      }
    },
    methods: {
      toggleMenu() {
        console.log("Toggle menu....");
        this.hamburgerIsActive = !this.hamburgerIsActive;
      },
      getHamburgerClass() {
        return this.hamburgerIsActive ? 'is-active' : 'no-is-not-active';
      },
      logout() {
        console.log('Logout action....');
        post('/api/logout')
          .then((res) => {
            console.log(res);
            if (res.data.done) {
              // remove token
              Auth.remove()
              Flash.setSuccess('You have successfully logged out.')
              this.$router.push('/login')
            }
          })
      }
    }
  }
</script>
