<template>
  <div class="columns">
    <div class="column" style="z-index: 10; !important;">
      <div style="width: 100%; height: 800px; z-index: -10; !important;">
        <v-map :zoom="zoom" :center="center">
          <v-tilelayer :url="url" :attribution="attribution"></v-tilelayer>
          <v-marker :lat-lng="marker"></v-marker>
        </v-map>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue2Leaflet from 'vue2-leaflet';

  export default {
    name: 'leaflet',
    components: {
      'v-map': Vue2Leaflet.Map,
      'v-tilelayer': Vue2Leaflet.TileLayer,
      'v-marker': Vue2Leaflet.Marker
    },
    data() {
      return {
        zoom: 11,
        center: L.latLng(37.9833333, 23.7147767),
        url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        marker: L.latLng(37.9833333, 23.7147767),
      }
    }
  }

</script>
