<template>
  <div>
    <section class="hero is-danger">
      <div class="hero-body">
        <div class="container">
          <h1 class="title" v-if="data.event">
            {{data.event.what}}
          </h1>

          <h2 class="subtitle" v-if="data.event">
            {{ formatDate(data.event.when) }}
          </h2>
        </div>
      </div>
    </section>
    <section>
      <b-notification v-if="u" title="Default" :active.sync="u.notificationActive" :type="u.notificationType">
        {{u.notificationMessage}}
      </b-notification>
    </section>
    <section class="section_editor">
      <form id="editForm" @submit.prevent="validateBeforeSubmit" method="post">
        <b-field
          label="What"
          ref="what"
          :type="getType('what')"
          :message="getValidationMessage('what')"
        >
          <b-input
            v-if="data.event"
            v-model="data.event.what"
          >
          </b-input>
        </b-field>

        <b-field
          label="When"
          ref="when"
          :type="getType('when')"
          :message="getValidationMessage('when')"
        >
          <b-datepicker
            v-if="data.event"
            placeholder="Click to select..."
            icon="calendar-today"
            v-model="data.eventDate"
          >
          </b-datepicker>
        </b-field>

        <b-field
          label="Who"
          ref="who"
          :type="getType('who')"
          :message="getValidationMessage('who')"
        >
          <b-input
            v-if="data.event"
            v-model="data.event.who"
          >
          </b-input>
        </b-field>

        <b-field
          label="Country"
          ref="country"
          :type="getType('country')"
          :message="getValidationMessage('country')"
        >
          <auto-complete
            v-if="data.event"
            ref="countryAutoComplete"
            v-bind:ag-model="countryName"
            ag-field="name"
            ag-placeholder="e.g. Maldives"
          >
          </auto-complete>
        </b-field>

        <b-field label="Related Actors">
          <bue-tag
            v-if="data.event"
            ref="actors"
            v-bind:ag-model="actors"
            :rounded=true
            :type="profileColour()"
            ag-field="name"
            ag-end-point="people"
            ag-placeholder="Add related actors..."
          >
          </bue-tag>
        </b-field>
        <b-field label="Related Organisations">
          <bue-tag
            v-if="data.event"
            ref="organisations"
            v-bind:ag-model="organisations"
            :rounded=true
            :type="profileColour()"
            ag-field="name"
            ag-end-point="organisations"
            ag-placeholder="Add related organisations..."
          >
          </bue-tag>
        </b-field>

        <b-field label="Location">
          <b-input
            v-if="data.event"
            v-model="data.event.location"
          >
          </b-input>
        </b-field>

        <b-field label="Labels">
          <b-input
            v-if="data.event"
            v-model="data.event.labels"
          >
          </b-input>
        </b-field>

        <b-field label="Tags">
          <bue-tag
            v-if="data.event"
            ref="bueTagger"
            v-bind:ag-model=data.event.tags
            ag-field="tag"
            ag-placeholder="Add tags.."
          >
          </bue-tag>
        </b-field>

        <b-tabs v-model="activeTab">
          <b-tab-item label="Introduction">
            <b-field>
              <Prose
                v-if="data.event"
                ref="introductionPM"
                provider="prosemirror"
                :readonly=false
                :doc="data.event.introduction.node"
                @update:node="updateNode($event, 'this.data.event.introduction.node')"
                container="introduction_editor_pm"
              >
              </Prose>

            </b-field>
          </b-tab-item>

          <b-tab-item label="Images" v-if="$route.meta.mode !== 'create'">
            <media-manager
              v-if="data.media"
              ref="mediaManager"
              show-header="false"
              show-drop-area="false"
              :media="data.media"
              :mount-points="mountPoints"
              :link-to="linkTo"
              asset-type="image"
              v-on:media:refresh="refreshMedia($event)"
            >
            </media-manager>
          </b-tab-item>
          <b-tab-item label="Sources" v-if="$route.meta.mode !== 'create'">
            Texts and bookmarks
          </b-tab-item>
          <b-tab-item label="Video" v-if="$route.meta.mode !== 'create'">
            Footage
          </b-tab-item>
          <b-tab-item label="Audio" v-if="$route.meta.mode !== 'create'">
            Audio
          </b-tab-item>
          <b-tab-item label="Map" v-if="$route.meta.mode !== 'create'">
            <div class="columns" style="width: 100%;" id="Copernicus">
              <div class="column">
                <div id="stravo"></div>
              </div>
            </div>
          </b-tab-item>
        </b-tabs>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" @click="save" type="submit">Submit</button>
          </div>
          <div class="control">
            <button class="button is-text">Cancel</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</template>

<script type="text/javascript">
  import '../../leaflet/leaflet.css';

  import Resource from '../Resource';
  import lodash from 'lodash';
  import Util from '../../helpers/util';

  import Api from '../../themelia/api';

  import Leaflet from '../../leaflet/leaflet';

  import moment from 'moment';

  import Prose from '../../components/TextEditor/PM/PM';
  import BTabItem from "buefy/src/components/tabs/TabItem.vue";
  import MediaManager from "../../components/MediaManager.vue";
  import AutoComplete from '../../components/AutoComplete.vue';
  import BueTag from "../../components/BueTag.vue";

  import '../../leaflet/leaflet.contextmenu.css';
  import ContextMenu from '../../leaflet/leaflet.contextmenu';
  import SingleClick from '../../leaflet/singleclick';

  // Leaflet Search CSS
  import '../../leaflet-search/leaflet-search.src.css';
  // Leaflet Search Source
  import LeafletSearch from '../../leaflet-search/leaflet-search.min';

  import Geo from '../../themelia/geo';

  // lines below to be moved to map options asap or even better to Geo..
  var icon = new L.Icon.Default();
  icon.options.shadowSize = [0, 0];

  var myIcon = L.icon({
    iconUrl: '/images/red_star.png',
    iconSize: [35, 35],
    iconAnchor: [22, 94],
    popupAnchor: [-3, -76],
    shadowUrl: '/images/red_star.png',
    shadowSize: [0, 0],
    shadowAnchor: [22, 94]
  });

  // lines above to be moved to map options asap..

  export default {
    extends: Resource,
    components: {
      BTabItem,
      BueTag,
      AutoComplete,
      MediaManager,
   //   TextEditor,
      Prose,
      lodash,
      Api,
      Util
    },

    data() {
      return {
        data: [],
        doc: {},
        inputState: [],

        activeTab: this.$route.meta.mode === 'edit' ? 5 : 0,
        editor: null,
        u: null,

        currentActors: [],
        actors: [],
        currentOrganisations: [],
        organisations: [],

        // tag: "",
        eventDate: null,
        country: {},
        selectedCountry: null,
        isFetchingCountries: false,

        countries: [],
        countryName: '',
        mountPoints: ['events', this.$route.params.id],
        linkTo: ['events', this.$route.params.id],

        map: {},
        zoom: 14,

        url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        center: null,
        marker: null,

        identity: 'events'

      }
    },
    watch: {
      activeTab(value) {
        // do the thing here (reset the contraining dov
        if (value == 5) {
          let ret = setTimeout(this.doRefreshMap, 300);
        }
      }
    },
    methods: {
      updateNode (value, ctrl) {
        this.data.event.introduction.newNode = value;
      },
      profileColour(ev) {
        return "is-danger";
      },

      formatDate(dt) {
        let lObjet = new Date(dt);

        return lObjet.toLocaleDateString();
      },
      doRefreshMap(e) {
        this.map.setView(this.map.getCenter());
        this.map.invalidateSize(true);

      },
      getRenderedEventMarker() {
        let ret = {};
        let map = this.map;

        // check whether it's actually getting the Europa zentrum for a default value (it's no
        if (typeof map != 'undefined') {
          map.eachLayer(function (layer) {
            if (layer.hasOwnProperty('_icon')) {
              if (layer._icon.src.indexOf('marker-icon.png')) {
                ret = {latitude_deg: layer._latlng.lat, longitude_deg: layer._latlng.lng};
              }
            }
          });
        }
        return ret;
      },
      save() {
        this.loading = true;

        let dt = {};

        if (null !== this.$refs.countryAutoComplete.selectedValue) {
          this.data.event.country = this.$refs.countryAutoComplete.selectedValue._key;
        }

        let bt = this.$refs.bueTagger;

        this.data.event.tags = bt.localModel;
        this.data.event.when = this.data.eventDate;

        this.data.event.introduction = {
          node: this.data.event.introduction.newNode,
          html: this.data.event.introduction.html,
          markdown: this.data.event.introduction.markdown
        }

        dt = this.data.event;
        dt.map_center = Geo.getRenderedMapCentre();    // do not stringify!
        dt.markers = Geo.getRenderedEventMarkers();    // do not stringify!

        console.log("I shall be posting the following: ");
        console.log(dt.introduction);

        if (this.$route.meta.mode === 'edit') {
          Api.patch(
            `/api/events/${this.$route.params.id}`, dt)
            .then(response => {
              // JSON responses are automatically parsed.
              this.loading = false;
              if (response.status != 200 && response.status != 202) {
                this.updateFormStatus(response.data);
                Util.notifikation("Couldn't update this resource", 'danger', 2000);
              } else {
                this.addEdges(response.data);
                Util.notifikation("The resource has been updated successfully", 'success', 2000);
              }
            })
            .catch(e => {
              //  this.errors.push(e)
              console.log(e);
            });
        } else {
          Api.post(
            `/api/events/`, dt)
            .then(response => {
              // JSON responses are automatically parsed.
              this.loading = false;

              this.updateFormStatus(response.data);

              if (response.status != 200 && response.status != 202) {
                Util.notifikation("Couldn't add this resource", 'danger', 2000);
              } else {
                this.addEdges(response.data);
                Util.notifikation("The resource has been added successfully", 'success', 2000);
                this.$router.push({path: `/manage/events/${response.data._key}/edit`}) // -> /events/123

              }
            })
            .catch(e => {
              //  this.errors.push(e)
              console.log(e);
            });
        }

      },
      addEdges(dt) {  // this needs refactoring (pass the edge type)
        for (let i = 0; i < this.currentActors.length; i++) {
          if (_.findIndex(this.actors, {'_key': this.currentActors[i]._key}) < 0) {
            console.log("I will DELETE: ");

            let url = '/api/' + this.currentActors[i]._id;

            Api.delete(url).then(
              response => {
              })
              .catch(e => {
                console.log("Edge deletion ERROR (events)");
              });

          }
        }

        let edge = [];

        for (let i = 0; i < this.actors.length; i++) {
          if (_.findIndex(this.currentActors, {'_key': this.actors[i]._key}) < 0) {
            console.log("I will ADD: ");

            edge[i] = {};

            edge[i]._collection = 'people_events';
            edge[i]._to = dt._id;
            edge[i]._from = 'people/' + this.actors[i]._key;
            Api.post('/api/edges', edge[i]).then(
              response => {
                console.log("Edge added: ");
                console.log(response.data);
              })
              .catch(e => {

              });

          }
        }

        for (let i = 0; i < this.currentOrganisations.length; i++) {
          if (_.findIndex(this.organisations, {'_key': this.currentOrganisations[i]._key}) < 0) {
            console.log("I will DELETE: ");

            let url = '/api/' + this.currentOrganisations[i]._id;

            Api.delete(url).then(
              response => {
              })
              .catch(e => {
                console.log("Edge deletion ERROR (events)");
              });

          }
        }

        edge = [];

        for (let i = 0; i < this.organisations.length; i++) {
          if (_.findIndex(this.currentOrganisations, {'_key': this.organisations[i]._key}) < 0) {
            console.log("I will ADD: ");

            edge[i] = {};

            edge[i]._collection = 'organisations_events';
            edge[i]._to = dt._id;
            edge[i]._from = 'organisations/' + this.organisations[i]._key;
            Api.post('/api/edges', edge[i]).then(
              response => {
                console.log("Edge added: ");
                console.log(response.data);
              })
              .catch(e => {

              });

          }
        }
        return;
      },
      initNativeMap() {
        this.map = L.map('stravo', {
            contextmenu: true,
            contextmenuWidth: 140,
            contextmenuItems: [{
              text: 'Show coordinates',
              callback: Geo.showCoordinates
            }, {
              text: 'Remove all markers',
              callback: Geo.removeAllMarkers
            }, {
                text: 'Center map here',
                callback: Geo.centerMap
            },
              '-',
            {
                text: 'Info',
                // icon: 'images/zoom-in.png',
                callback: Geo.getMapInfo
            }]
          }
        );

        this.map.setView([51.505, -0.09], 13);

        // create the tile layer with correct attribution
        let osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        let osmAttrib = 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
        let osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});

        // start the map in South-East England
        this.map.setView(new L.LatLng(51.3, 0.7), 9);
        this.map.addLayer(osm);

        let map = this.map;

        let placeHolder = new String('                                  ');

        map.addControl(new L.Control.Search({
          url: 'https://nominatim.openstreetmap.org/search?format=json&q={s}',
          jsonpParam: 'json_callback',
          propertyName: 'display_name',
          propertyLoc: ['lat', 'lon'],
          textPlaceholder: placeHolder,
          marker: L.circleMarker([0, 0], {radius: 30}),
          autoCollapse: true,
          autoType: false,
          minLength: 2
        }));


        // do the refresh
        let bap = setTimeout(function () {
          map.invalidateSize()
        }, 300);

        Geo.setMap(map);
      },
      loadAsyncData() {
        this.loading = true;

        let yetAnotherPromise = Api.get(`/api/events/edit/${this.$route.params.id}`)
          .then(response => {
            // JSON responses are automatically parsed.

            this.data = response.data;
            console.log('loadAsyncData');
            console.log(this.data);

            this.countryName = this.data.country.name;
            this.data.event.introduction.newNode = this.data.event.introduction.node;

            for (let i = 0; i < this.data.relations.people.length; i++) {
              let datum = this.data.relations.people[i];

              let key = datum._from.substr(datum._from.indexOf('/') + 1);

              this.actors[i] = {
                _key: key, name: datum.name, profile: datum.profile,
                relationship: datum.relationship, _id: datum._id
              }

            }
            this.currentActors = _.cloneDeep(this.actors);

            for (let i = 0; i < this.data.relations.organisations.length; i++) {
              let datum = this.data.relations.organisations[i];

              let key = datum._from.substr(datum._from.indexOf('/') + 1);

              this.organisations[i] = {
                _key: key, name: datum.name, profile: datum.profile,
                relationship: datum.relationship, _id: datum._id
              }

            }
            this.currentOrganisations = _.cloneDeep(this.organisations);

            // this.data.event.eventDate = new Date(this.data.event.eventDate);
            this.data.eventDate = new Date(this.data.event.when);

            var event = this.data.event;

            var map = this.$refs.map;

            // check whether it's actually getting the Europa zentrum for a default value (it's no
            if (typeof this.map != 'undefined' && this.map.hasOwnProperty('_leaflet_id')) {

              var zoom = this.getMapZoomLevel(this.data);

              this.map.setView(Geo.getSuggestedMapCentreFromData(this.data), zoom);


              console.log('ZOOM',zoom);


              this.addMapEventMarkers(this.data.event);

              this.map.on('singleclick', function (e) {
                let map = this.map;
                let marker = new L.Marker(e.latlng, {
                    icon: icon,
                    draggable: true,
                    aginter: true,
                    contextmenu: true,
                    contextmenuItems: [
                      {
                        text: 'Remove marker',
                        callback: function () {
                          this.removeLayer(marker)
                        },
                        index: 0
                      },
                      {
                        separator: true,
                        index: 2
                      }
                    ]
                  }
                )
                  .addTo(this)
                  .on('click', function () { /* do nothing! */
                  })
                  .on('dragend', function () {
                    var coord = String(marker.getLatLng()).split(',');
                    console.log(coord);
                    var lat = coord[0].split('(');
                    console.log(lat);
                    var lng = coord[1].split(')');
                    console.log(lng);
                    marker.bindPopup("Moved to: " + lat[1] + ", " + lng[0] + ".");
                  });
              });

            }
          });

        this.loading = false;
      },

      addMapEventMarkers(event) {

        if (event.hasOwnProperty('markers') && event.markers instanceof Array) {
          for (let i = 0; i < event.markers.length; i++) {
            let marker = event.markers[i];

            if (marker.latitude_deg != undefined && marker.longitude_deg != undefined) {
              let lat_long = new L.LatLng(marker.latitude_deg, marker.longitude_deg);
              var newMarker = new L.marker(lat_long, {
                icon: icon,
                title: event.what,
                alt: "changeme",
                draggable: true,
                aginter: true,
                contextmenu: true,
                contextmenuItems: [
                  {
                    text: 'Remove marker',
                    callback: function () {
                      this.removeLayer(newMarker)
                    },
                    index: 0
                  },
                  {
                    separator: true,
                    index: 2
                  }
                ]
              })
                .addTo(this.map)
                .on('click', function () { /* do nothing! */
                })
                .on('dragend', function () {
                  var coord = String(newMarker.getLatLng()).split(',');
                  console.log(coord);
                  var lat = coord[0].split('(');
                  console.log(lat);
                  var lng = coord[1].split(')');
                  console.log(lng);
                  newMarker.bindPopup("Moved to: " + lat[1] + ", " + lng[0] + ".");
                });
            }

          }
        }

      },
      getMapZoomLevel(data) {
        console.log('getMapZoomLevel');
        console.log(data);

        if (!(undefined == data.event.map_center)) {
          let mapCentre = data.event.map_center;
          if (!(undefined == mapCentre.zoom)) {
            return mapCentre.zoom;
          }
        }
        var geo = data.country.geo;
        if ((geo.centre !== undefined) && (geo.centre.zoom !== undefined)) {
          return geo.centre.zoom;
        }
        return 2;    // <- for now. Add zoom to your geo struct

      },
      getMapCentre(data) {
        if (!(undefined == data.event.map_center)) {
          let mapCentre = data.event.map_center;
          if (!(undefined == mapCentre.latitude_deg || undefined == mapCentre.latitude_deg)) {
            return new L.LatLng(mapCentre.latitude_deg, mapCentre.longitude_deg);
          }
        }
        if (data.country.geo !== undefined) {
          let centre = data.country.geo.centre;
          if (centre.latitude != null && centre.longitude != null) {
            return new L.LatLng(centre.latitude, centre.longitude);
          }
        }
        return new L.LatLng(45.6523748, 9.3011539);
      }
    },
    created() {
      this.u = Util;
      this.loadAsyncData();

    },
    filters: {},
    mounted() {
      // Thank so much https://stackoverflow.com/questions/42814406/accessing-nested-child-components-in-vuejs
      this.editor = this.$refs.introduction;

      if (this.$route.meta.mode === 'edit')
        this.initNativeMap();
    }
  }
</script>
<style type="text/css">
  #Copernicus {
    bprxder: 3px black solid;
    min-height: 600px;
  }

  #stravo {
    height: 600px;
  }
</style>
