<template>
  <section>
    <d-t-head
      v-bind:per-page-model="perPage"
      v-on:pagesizechanged="pageSizeChanged"

      v-bind:local-q-model="q"
      v-on:termsAdded="queryWrapper"
      collection="events"
    >
    </d-t-head>

    <b-table
      :data="data"
      :loading="loading"
      :striped=true
      :hoverable=true

      paginated
      backend-sorting
      backend-pagination
      :default-sort-direction="defaultSortOrder"
      :default-sort="[sortField, sortOrder]"
      :total="total"
      :per-page="perPage"
      @page-change="onPageChange"
      @sort="onSort"
    >

      <template slot-scope="props">

        <b-table-column field="when" label="When" sortable>
          {{ props.row.when | dateFormat }}
        </b-table-column>

        <b-table-column field="what" label="What" sortable>
          {{ props.row.what | truncate(70) }}
        </b-table-column>

        <b-table-column field="location" label="Location" sortable centered>
          {{ props.row.location }}
        </b-table-column>

        <b-table-column field="country" label="Country" sortable centered>
          {{ props.row.country }}
        </b-table-column>

        <b-table-column label="Action" centered>
          <router-link class="recipe__inner" :to="`/manage/events/${props.row._key}/edit`">
            <button class="button is-link is-small">Edit</button>
          </router-link>
          <button class="button is-danger is-small" @click="(event) => { remove(event, props.row._key) }">
            Delete
          </button>
        </b-table-column>

      </template>

      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p>
              <b-icon
                icon="emoticon-sad"
                size="is-large">
              </b-icon>
            </p>
            <p>Nothing here.</p>
          </div>
        </section>
      </template>
    </b-table>
    <b-collapse :open="false">
      <button class="button is-primary" slot="trigger">See query</button>
      <div class="notification">
        <div class="content">
          <h3>
            AQL
          </h3>
          <pre class="p re-0-41 para-0-23" v-if="x">
            <code class="code-0-40 lang-default">
              {{x.totalCount}} | {{x.aql}}
            </code>
          </pre>
        </div>
      </div>
    </b-collapse>

  </section>

</template>
<script type="text/javascript">
  import Util from '../../helpers/util';
  import Api from '../../themelia/api';
  import DTHead from "../../components/DataTable/DTHead.vue";
  import moment from 'moment';

  export default {
    components: {
      DTHead,
      moment
    },
    data() {
      return {
        data: [],
        total: 0,
        loading: false,
        sortField: 'what',
        sortOrder: 'asc',
        defaultSortOrder: 'asc',
        page: 1,
        perPage: 30,
        q: ''
      }
    },
    methods: {
      /*
       * Load async data
       */
      loadAsyncData() {
        this.loading = true;

        Api.get(`/api/events?q=${this.q}&sort_by=${this.sortField}.${this.sortOrder}&page=${this.page}&limit=${this.perPage}`)
          .then(response => {
            // JSON responses are automatically parsed.
            this.x = response.data;

            this.data = [];

            this.x.data.forEach((item) => this.data.push(item));
            console.log(this.x);

            this.total = this.x.count;

            let currentTotal = this.x.count;
            if (currentTotal / this.perPage > 1000) {
              currentTotal = this.perPage * 1000;
            }
            this.total = currentTotal;

            this.loading = false;
          })
          .catch(e => {
            //  this.errors.push(e)
            console.log(e);
          });


      },
      /*
       * Handle page-change event
       */
      onPageChange(page) {
        this.page = page;
        this.loadAsyncData()
      },
      pageSizeChanged(sz) {
        this.perPage = sz;
      },
      queryWrapper(q) {
        this.q = q;
        this.query();
      },

      /*
       * Handle sort event
       */
      onSort(field, order) {
        this.sortField = field;
        this.sortOrder = order;

        this.loadAsyncData();
      },
      query() {
        this.loadAsyncData();
      },
      /*
       * Type style in relation to the value
       */
      type(value) {
        const number = parseFloat(value)
        if (number < 6) {
          return 'is-danger';
        } else if (number >= 6 && number < 8) {
          return 'is-warning';
        } else if (number >= 8) {
          return 'is-success';
        }
      },
      remove(e, id) {

        this.$dialog.confirm({
          message: "Delete this document?",
          onConfirm: () => {
            // this.$toast.open('User confirmed');
            Api.delete(`/api/events/${id}`)
              .then(response => {
                // JSON responses are automatically parsed.
                Util.notifikation("You have successfully deleted the resource", 'success', 2000);

                // reset query..
                this.q = '';

                this.loadAsyncData();
              })
              .catch(e => {
                //  this.errors.push(e)
                console.log(e);
              });
          }
        });
      }
    },
    filters: {
      capitalize: function (value) {
        if (!value) return '';
        value = value.toString();
        return value.toUpperCase();
        // return value.charAt(0).toUpperCase() + value.slice(1)
      },
      dateFormat(value) {
        let ret = moment(value).format("DD MMM YYYY");
        return ret;
      },
      /**
       * Filter to truncate string, accepts a length parameter
       */
      truncate: function (value, length) {
        return value.length > length
          ? value.substr(0, length) + '...'
          : value;
      }
    },
    mounted() {
      this.loadAsyncData();
      this.perPage = 15;

    }
  }
</script>
