<template>
  <div>
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title" v-if="data.textum">
            {{data.textum.head}}
          </h1>
          <h2 class="subtitle" v-if="data.textum">
            {{data.textum.class}}
          </h2>
        </div>
      </div>
    </section>
    <section>
      <b-notification v-if="u" title="Default" :active.sync="u.notificationActive" :type="u.notificationType">
        {{u.notificationMessage}}
      </b-notification>
    </section>

    <section class="section_editor">
        <b-field label="Thread"
           ref="thread"
           :type="getType('thread')"
           :message="getValidationMessage('thread')"
          >
          <b-input v-model="data.textum.thread" v-if="data.textum"></b-input>
        </b-field>

        <b-field label="Blurb"
           ref="blurb"
           :type="getType('blurb')"
           :message="getValidationMessage('blurb')"
          >
          <b-input v-model="data.textum.blurb" v-if="data.textum"></b-input>
        </b-field>

        <b-field label="Class"
           ref="class"
           :type="getType('class')"
           :message="getValidationMessage('class')"
        >
          <b-input v-model="data.textum.class" v-if="data.textum"></b-input>
        </b-field>

        <b-field>
          <text-editor
            v-if="data.textum"
            ref="bodyPM"
            provider="prosemirror"
            :readonly=false
            v-bind:doc.sync="data.textum.body.node"
            container="body_editor_pm"
            placeholder="Text body..."
            theme="snow"
          >
          </text-editor>

        </b-field>

        <b-field label="Type"
            ref="type"
            :type="getType('type')"
            :message="getValidationMessage('type')"
          >
          <b-input v-model="data.textum.type" v-if="data.textum"></b-input>
        </b-field>

        <b-field label="Language"
           ref="language"
           :type="getType('language')"
           :message="getValidationMessage('language')"
          >
          <b-input v-model="data.textum.language" v-if="data.textum"></b-input>
        </b-field>


        <b-field label="Origin"
           ref="origin"
           :type="getType('origin')"
           :message="getValidationMessage('origin')"
          >
          <b-input v-model="data.textum.origin" v-if="data.textum"></b-input>
        </b-field>


        <b-field label="Spectrum">
          <range-slider
            class="slider"
            min="-100"
            max="+100"
            step="10"
            v-model="data.textum.spectrum" v-if="data.textum">
          </range-slider>
        </b-field>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" @click="save" type="submit">Submit</button>
          </div>
          <div class="control">
            <button class="button is-text">Cancel</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</template>

<script type="text/javascript">
  import lodash from 'lodash';
  import Util from '../../helpers/util';
  import Api from '../../themelia/api';

  // import TextEditor from '../../components/TextEditor.vue';

  import RangeSlider from 'vue-range-slider';
  import 'vue-range-slider/dist/vue-range-slider.css';

  export default {
    components: {
      Api,
      Util,
      RangeSlider,
   //   TextEditor,
      lodash

    },
    data() {
      return {
        data: [],
        inputState: [],
        activeTab: 0,
        u: null,
        respData: null,

        country: {},
        isFetchingLanguahes: false,
        languages: [],
        languageName: '',

        mountPoints: ['texta', this.$route.params.id],
        linkTo: ['texta', this.$route.params.id],
        identity: 'texta'

      }
    },
    methods: {
      save() {
        this.loading = true;

        let dt = {};


        return;


        dt = this.data.textum;



        if (this.$route.meta.mode === 'edit') {
          Api.patch(
            `/api/texta/${this.$route.params.id}`, dt)
            .then(response => {
              // JSON responses are automatically parsed.
              this.loading = false;

              if (response.status != 200 && response.status != 202) {
                this.updateFormStatus(response.data);
                Util.notifikation("Couldn't update this resource", 'danger', 2000);
              } else {
                Util.notifikation("The resource has been updated successfully", 'success', 2000);
              }

            })
            .catch(e => {
              //  this.errors.push(e)
              console.log(e);
            });
        } else {

          console.log("Add new textum with: ");
          console.log(dt);
          /* textum
          Api.post(
            `/api/texta/`, dt)
            .then(response => {
              // JSON responses are automatically parsed.
              this.loading = false;

              console.log("Just GOT back");
              this.updateFormStatus(response.data);

              if (response.status != 200 && response.status != 202) {
                Util.notifikation("Couldn't add this resource", 'danger', 2000);
              } else {
                Util.notifikation("The resource has been added successfully", 'success', 2000);
              }
            })
            .catch(e => {
              //  this.errors.push(e)
              console.log(e);
            });

          */
        }

      },
      loadAsyncData() {
        this.loading = true;

        Api.get(`/api/texta/edit/${this.$route.params.id}`)
          .then(response => {
            this.data = response.data;

            // this.languageName = this.data.language.name;
            this.loading = false;

          });
      },
      getType(fld) {
        if (this.inputState.hasOwnProperty(fld)) {
          console.log(this.inputState[fld]);
          if (this.inputState[fld].hasOwnProperty('error')) {
            return "is-danger";
          }
        }

        return "";
      },
      getValidationMessage(fld) {
        if (this.inputState.hasOwnProperty(fld)) {
          if (this.inputState[fld].hasOwnProperty('error')) {
            return this.inputState[fld].error;
          }
        }
        return "";
      },
      updateFormStatus(data) {

        for (let field in this.$refs) {
          // this.$refs[field].type = 'is-danger';
          if (data.errors.hasOwnProperty(field)) {
            this.inputState[field] = {error: data.errors[field]}
          } else {
            this.inputState[field] = {}
          }
        }

      }
    },
    filters: {},
    mounted() {
      this.loadAsyncData();
      this.u = Util;
      this.editor = this.$refs.body;

    }
  }
</script>
