<template>
  <section>
    <d-t-head
      v-bind:per-page-model="perPage"
      v-on:pagesizechanged="pageSizeChanged"

      v-bind:local-q-model="q"
      v-on:termsAdded="queryWrapper"
      collection="tags">
    </d-t-head>

    <b-table
      :data="data"
      :loading="loading"
      :striped=true
      :hoverable=true

      paginated
      backend-sorting
      backend-pagination
      :default-sort-direction="defaultSortOrder"
      :default-sort="[sortField, sortOrder]"
      :total="total"
      :per-page="perPage"
      @page-change="onPageChange"
      @sort="onSort">

      <template slot-scope="props">
<!--        <b-table-column field="thread" label="Thread" sortable>
          {{ props.row.thread }}
        </b-table-column>-->
        <b-table-column field="thread" label="Blurb" sortable>
          {{ props.row.blurb | truncate(40) }}
        </b-table-column>
        <b-table-column field="body" label="Body" sortable>
          {{ props.row.body.text | truncate(70) }}
        </b-table-column>
        <b-table-column field="index" label="Index" sortable centered>
          {{ props.row.index }}
        </b-table-column>
<!--
      <b-table-column field="class" label="Spectrum" sortable centered>
        {{ props.row.spectrum | spectrumFormat}}
      </b-table-column>
-->

        <b-table-column label="Action" centered>
          <router-link class="recipe__inner" :to="`/manage/texta/${props.row._key}/edit`">
            <button class="button is-link is-small">Edit</button>
          </router-link>
          <button class="button is-danger is-small" @click="(event) => { remove(event, props.row._key) }">
            Delete
          </button>
        </b-table-column>
      </template>
      <template>
      </template>
      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p>
              <b-icon
                icon="emoticon-sad"
                size="is-large">
              </b-icon>
            </p>
            <p>Nothing here.</p>
          </div>
        </section>
      </template>
    </b-table>

  </section>

</template>
<script type="text/javascript">
  import Util from '../../helpers/util';
  import Api from '../../themelia/api';
  import DTHead from "../../components/DataTable/DTHead.vue";

  export default {
    components: {
      DTHead
    },
    data() {
      return {
        data: [],
        total: 0,
        loading: false,
        sortField: 'tag',
        sortOrder: 'asc',
        defaultSortOrder: 'asc',
        page: 1,
        perPage: 15,
        q: ''
      }
    },
    methods: {
      /*
       * Load async data
       */
      loadAsyncData() {
        this.loading = true;

        Api.get(`/api/texta?q=${this.q}&sort_by=${this.sortField}.${this.sortOrder}&page=${this.page}&limit=${this.perPage}`)
          .then(response => {
            // JSON responses are automatically parsed.
            let x = response.data;
            console.log(x);
            this.data = [];
            x.data.forEach((item) => this.data.push(item));

            this.total = x.count;
            this.loading = false;
          })
          .catch(e => {
            //  this.errors.push(e)
            console.log(e);
          });
      },
      /*
       * Handle page-change event
       */
      onPageChange(page) {
        this.page = page;
        this.loadAsyncData()
      },
      pageSizeChanged(sz) {
        this.perPage = sz;
      },
      queryWrapper(q) {
        this.q = q;
        this.query();
      },
      /*
       * Handle sort event
       */
      onSort(field, order) {
        this.sortField = field;
        this.sortOrder = order;

        this.loadAsyncData();
      },
      query() {
        this.loadAsyncData();
      },
      /*
       * Type style in relation to the value
       */
      type(value) {
        const number = parseFloat(value)
        if (number < 6) {
          return 'is-danger';
        } else if (number >= 6 && number < 8) {
          return 'is-warning';
        } else if (number >= 8) {
          return 'is-success';
        }
      },
      remove(e, id) {
        this.loading = true;

        Api.delete(`/api/texta/${id}`)
          .then(response => {
            if (response.status != 200 && response.status != 202) {
              console.log(response);
              Util.notifikation("A problem ensued whilst destroying this resource, please check the logs", 'danger', 2000);

            } else {
              Util.notifikation("You have successfully deleted the resource", 'success', 2000);
            }

            this.loadAsyncData();
          })
          .catch(e => {
            //  this.errors.push(e)
            console.log(e);
          });

        this.loading = false;
      }

    },
    filters: {
      /**
       * Filter to truncate string, accepts a length parameter
       */
      truncate(value, length) {
        let clamp = '...';
        let text = value;
        return text.slice(0, length) + (length < text.length ? clamp || '...' : '')
      },
      spectrumFormat(value) {
        let ret = Number(value).toFixed(1);
        if (ret == 'NaN') {
          ret = '';
        }
        return ret;
      }
    },
    mounted() {
      this.loadAsyncData();
      this.perPage = 15;


    }
  }
</script>
