<template>
  <div>
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{data.label}}
          </h1>
          <h2 class="subtitle">
            {{data.comments}}
          </h2>
        </div>
      </div>
    </section>
    <section>
      <b-notification v-if="u" title="Default" :active.sync="u.notificationActive" :type="u.notificationType">
        {{u.notificationMessage}}
      </b-notification>
    </section>
    <section>
      <form id="editForm" @submit.prevent="validateBeforeSubmit" method="post">
        <b-field label="Type"
                 ref="kind"
                 :type="getType('kind')"
                 :message="getValidationMessage('kind')"

        >
          <b-input v-model="data.kind"></b-input>
        </b-field>

        <b-field label="Weight"
                 ref="weight"
                 :type="getType('weight')"
                 :message="getValidationMessage('weight')"

        >
          <b-input v-model="data.weight"></b-input>
        </b-field>

        <b-field label="Comments">
          <b-input v-model="data.comments"></b-input>
        </b-field>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" @click="save" type="submit">Submit</button>
          </div>
          <div class="control">
            <button class="button is-text">Cancel</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</template>

<script type="text/javascript">
  import Util from '../../helpers/util';
  import Api from '../../themelia/api';

  export default {
    components: {
      Api,
      Util
    },
    data() {
      return {
        data: [],
        editor: null,
        u: null,
        inputState: [],

        showEditor: false,
        tags: [],
        tag: "",
        identity: 'linktypes'
      }
    },
    methods: {
      logTags(tags) {
        console.log(tags)
      },
      validateBeforeSubmit(e) {
        e.preventDefault();
      },
      save() {
        this.loading = true;

        let dt = {};

        dt = this.data;

        if (this.$route.meta.mode === 'edit') {
          Api.patch(
            `/api/linktypes/${this.$route.params.id}`, dt)
            .then(response => {
              // JSON responses are automatically parsed.
              this.loading = false;
              if (response.status != 200 && response.status != 202) {
                this.updateFormStatus(response.data);
                Util.notifikation("Couldn't update this resource", 'danger', 2000);
              } else {
                Util.notifikation("The resource has been updated successfully", 'success', 2000);
              }
            })
            .catch(e => {
              //  this.errors.push(e)
              console.log(e);
            });
        } else {
          Api.post(
            `/api/linktypes/`, dt)
            .then(response => {
              // JSON responses are automatically parsed.
              this.loading = false;

              this.updateFormStatus(response.data);

              if (response.status != 200 && response.status != 202) {
                Util.notifikation("Couldn't add this resource", 'danger', 2000);
              } else {
                Util.notifikation("The resource has been added successfully", 'success', 2000);
              }


            })
            .catch(e => {
              //  this.errors.push(e)
              console.log(e);
            });
        }

      },
      loadAsyncData() {
        this.loading = true;

        Api.get(`/api/linktypes/edit/${this.$route.params.id}`)
          .then(response => {
            // JSON responses are automatically parsed.

            this.data = response.data;

            console.log(response.data);

            if (this.showEditor) {
              // this.editor.setData(this.data.introduction || '<p>Start here</p>');
            }

            this.loading = false;
          })
          .catch(e => {
            //  this.errors.push(e)
            console.log(e);
          });
      },
      getType(fld) {
        if (this.inputState.hasOwnProperty(fld)) {
          if (this.inputState[fld].hasOwnProperty('error')) {
            return "is-danger";
          }
        }

        return "";
      },
      getValidationMessage(fld) {
        if (this.inputState.hasOwnProperty(fld)) {
          if (this.inputState[fld].hasOwnProperty('error')) {
            return this.inputState[fld].error;
          }
        }
        return "";
      },
      updateFormStatus(data) {
        console.log(data);

        for (let field in this.$refs) {
          // this.$refs[field].type = 'is-danger';
          if (data.hasOwnProperty('errors') && data.errors.hasOwnProperty(field)) {
            this.inputState[field] = {error: data.errors[field]}
          } else {
            this.inputState[field] = {}
          }
        }

      }

    },
    filters: {},
    mounted() {
      this.loadAsyncData();
      this.u = Util;
    }
  }
</script>
