<template>
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="notification is-warning" v-if="error.status_code">
        <button class="delete" v-on:click="dismiss"></button>
        {{error.message}}
      </div>

      <form class="form" @submit.prevent="login">
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Email" v-model="form.email">
            <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
            </span>
            <p class="help is-danger" v-if="error.email">{{error.email[0]}}</p>
          </div>
        </div>

        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Password" v-model="form.password">
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </p>
          <p class="help is-danger" v-if="error.password">{{error.password[0]}}</p>
        </div>
        <div class="field">
          <p class="control">
            <button class="button is-primary" :disabled="isProcessing">
              Login
            </button>
          </p>
        </div>
      </form>

    </div>
  </div>
</template>
<script type="text/javascript">
  import Flash from '../../helpers/flash'
  import Auth from '../../store/auth'
  import {post} from '../../helpers/api'

  export default {
    data() {
      return {
        form: {
          email: '',
          password: ''
        },
        error: {},
        isProcessing: false
      }
    },
    methods: {
      login() {
        this.isProcessing = true
        this.error = {}
        post('api/login', this.form)
          .then((res) => {
            console.log(res);
            if (res.data.authenticated) {
              // set token
              Auth.set(res.data.api_token, res.data.user_id);
              Flash.setSuccess('You have successfully logged in.')
              this.$router.push('/')
            }
            this.isProcessing = false
          })
          .catch((err) => {
            if (err.response.status === 422) {
              this.error = err.response.data
            } else if (err.response.status === 500) {
              this.error = err.response.data;
              console.log(err.response.data);
            }
            this.isProcessing = false
          })
      },
      dismiss(event) {
        this.error = {};
      }
    }
  }
</script>
