<template>
  <div class="wrapper">
    Draggable - Vuejs glue for Sortable

    <draggable v-model="myArray" :options="{group:'people'}" @start="drag=true" @end="drag=false">
      <div v-for="element in myArray" :key="element.id">{{element.name}}</div>
    </draggable>

  </div>
</template>

<script>
  import draggable from 'vuedraggable';

  export default {
    components: {
      draggable,
    },
    name: "test",
    mounted() {
      console.log('Component mounted xxx.')
    },
    data() {
      return {
        myArray: [
          {id: 1, name: 'Rachel Robertson'},
          {id: 2, name: 'Rachael Turner'},
          {id: 3, name: 'Eleni Diveri'},
          {id: 4, name: 'Marie Rothe'},
          {id: 5, name: 'Joao Gilberto'},

        ]
      }
    },
    methods: {
      onUpdate: function (event) {
        this.list.splice(event.newIndex, 0, this.list.splice(event.oldIndex, 1)[0])
      }
    }
  }
</script>

<style scoped>

</style>
